
    <div class="products">
      <main class="main">
        <div class="search__title">
          <h2>RESULTADOS DE BÚSQUEDA</h2>
          <p>Se<strong>encontraron (4) resultados para "cámaras"</strong></p>
        </div>
        <div class="content">
          <div class="boxleft">
            <div class="filter-head-resp"><span class="filter-title-resp">FILTRAR</span><span class="filter-close icon-mas"></span></div>
            <div class="list">
              <ul>
                <li class="list-item active"><a class="list-title list-click" href="">CATEGORÍAS</a>
                  <ul class="content-links list-textarea">
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-1.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-1.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-2.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-2.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-3.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-3.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-4.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-4.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-5.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-5.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-6.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-6.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-7.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-7.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-8.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-8.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-9.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-9.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                  </ul>
                </li>
                <li class="list-item"><a class="list-title list-click" href="">TECNOLOGÍA</a>
                  <ul class="content-fields list-textarea">
                    <li class="field-item">
                      <input type="checkbox" id="field-1"/>
                      <label class="field-text" for="field-1">Análogo 1</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-2"/>
                      <label class="field-text" for="field-2">Análogo 2</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-3"/>
                      <label class="field-text" for="field-3">Análogo 3</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-4"/>
                      <label class="field-text" for="field-4">Análogo 4</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-5"/>
                      <label class="field-text" for="field-5">Análogo 5</label>
                    </li>
                  </ul>
                </li>
                <li class="list-item"><a class="list-title list-click" href="">TECNOLOGÍA</a>
                  <ul class="content-fields list-textarea">
                    <li class="field-item">
                      <input type="checkbox" id="field-1"/>
                      <label class="field-text" for="field-1">Análogo 1</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-2"/>
                      <label class="field-text" for="field-2">Análogo 2</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-3"/>
                      <label class="field-text" for="field-3">Análogo 3</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-4"/>
                      <label class="field-text" for="field-4">Análogo 4</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-5"/>
                      <label class="field-text" for="field-5">Análogo 5</label>
                    </li>
                  </ul>
                </li>
                <li class="list-item"><a class="list-title list-click" href="">TECNOLOGÍA</a>
                  <ul class="content-fields list-textarea">
                    <li class="field-item">
                      <input type="checkbox" id="field-1"/>
                      <label class="field-text" for="field-1">Análogo 1</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-2"/>
                      <label class="field-text" for="field-2">Análogo 2</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-3"/>
                      <label class="field-text" for="field-3">Análogo 3</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-4"/>
                      <label class="field-text" for="field-4">Análogo 4</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-5"/>
                      <label class="field-text" for="field-5">Análogo 5</label>
                    </li>
                  </ul>
                </li>
                <li class="list-item"><a class="list-title list-click" href="">TECNOLOGÍA</a>
                  <ul class="content-fields list-textarea">
                    <li class="field-item">
                      <input type="checkbox" id="field-1"/>
                      <label class="field-text" for="field-1">Análogo 1</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-2"/>
                      <label class="field-text" for="field-2">Análogo 2</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-3"/>
                      <label class="field-text" for="field-3">Análogo 3</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-4"/>
                      <label class="field-text" for="field-4">Análogo 4</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-5"/>
                      <label class="field-text" for="field-5">Análogo 5</label>
                    </li>
                  </ul>
                </li>
                <li class="list-item"><a class="list-title list-click" href="">TECNOLOGÍA</a>
                  <ul class="content-fields list-textarea">
                    <li class="field-item">
                      <input type="checkbox" id="field-1"/>
                      <label class="field-text" for="field-1">Análogo 1</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-2"/>
                      <label class="field-text" for="field-2">Análogo 2</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-3"/>
                      <label class="field-text" for="field-3">Análogo 3</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-4"/>
                      <label class="field-text" for="field-4">Análogo 4</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-5"/>
                      <label class="field-text" for="field-5">Análogo 5</label>
                    </li>
                  </ul>
                </li>
                <li class="list-item"><a class="list-title list-click" href="">TECNOLOGÍA</a>
                  <ul class="content-fields list-textarea">
                    <li class="field-item">
                      <input type="checkbox" id="field-1"/>
                      <label class="field-text" for="field-1">Análogo 1</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-2"/>
                      <label class="field-text" for="field-2">Análogo 2</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-3"/>
                      <label class="field-text" for="field-3">Análogo 3</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-4"/>
                      <label class="field-text" for="field-4">Análogo 4</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-5"/>
                      <label class="field-text" for="field-5">Análogo 5</label>
                    </li>
                  </ul>
                </li>
                <li class="list-item"><a class="list-title list-click" href="">TECNOLOGÍA</a>
                  <ul class="content-fields list-textarea">
                    <li class="field-item">
                      <input type="checkbox" id="field-1"/>
                      <label class="field-text" for="field-1">Análogo 1</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-2"/>
                      <label class="field-text" for="field-2">Análogo 2</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-3"/>
                      <label class="field-text" for="field-3">Análogo 3</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-4"/>
                      <label class="field-text" for="field-4">Análogo 4</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-5"/>
                      <label class="field-text" for="field-5">Análogo 5</label>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="boxright">
            <div class="filter">
              <div class="filter-content">
                <div class="filter-item filter-box1"><span class="filter-text">Ordenar por</span>
                  <div class="filter-select">
                    <select name="">
                      <option value="0">promociones-1</option>
                      <option value="1">promociones-2</option>
                      <option value="2">promociones-3</option>
                    </select>
                  </div>
                </div>
                <div class="filter-item filter-box2"><span class="filter-text">Mostrar</span>
                  <div class="filter-select">
                    <select name="">
                      <option value="0">12</option>
                      <option value="1">24</option>
                      <option value="2">36</option>
                    </select>
                  </div>
                </div><span class="filter-btn-resp icon-filtro"></span>
              </div>
            </div>
            <section class="items">
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
            </section>
            <section class="pager">
              <ul>
                <li><a class="prev icon-flechaizquierda" href=""></a></li>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a class="next icon-flecha-derecha" href=""></a></li>
              </ul>
            </section>
          </div>
        </div>
      </main>
    </div>
