
    <section class="mapcontacto">
      <div class="cnt-map">
        <div class="abrir-map">Abrir mapa</div>
        <div class="box-map">
          <div class="map" id="google-maplima"></div>
          <div class="btn-azul cerrar-map">cerrar mapa</div>
        </div>
      </div>
    </section>

    <section class="tabfull">
      <div class="tabcontacto">
        <div class="contac-nav">
          <div class="contac-padding">
            <h2>Escríbenos y nos contactaremos</h2>
            <div class="contact-tex">
              <p>Escribenos tus dudas, consultas que tengas e inmediatamente nos estaremos conmunicando contigo.</p>
            </div>
            <div class="contact-tabs"><a class="active" href="" data-tab="contac-tab-1">LIMA</a><a href="" data-tab="contac-tab-2">AREQUIPA</a><a href="" data-tab="contac-tab-3">TRUJILLO</a></div>
            <div class="contact-envolver-tab">
              <div class="contc-info" id="contac-tab-1">
                <div class="contact-itm"><a href="">(511) 512-3100</a></div>
                <div class="contact-itm"><a href="">ejuan@bestsecurityperu.com</a></div>
                <div class="contact-itm">
                  <p>Calle Rodolfo Beltrán 134 Urb. Santa Catalina, La Victoria - Lima 13 - Perú</p>
                </div>
              </div>
              <div class="contc-info" id="contac-tab-2">
                <div class="contact-itm"><a href="">(511) 512-3100</a></div>
                <div class="contact-itm"><a href="">ejuan@bestsecurityperu.com</a></div>
                <div class="contact-itm">
                  <p>Calle Rodolfo Beltrán 134 Urb. Santa Catalina, La Victoria - Lima 13 - Perú</p>
                </div>
              </div>
              <div class="contc-info" id="contac-tab-3">
                <div class="contact-itm"><a href="">(511) 512-3100</a></div>
                <div class="contact-itm"><a href="">ejuan@bestsecurityperu.com</a></div>
                <div class="contact-itm">
                  <p>Calle Rodolfo Beltrán 134 Urb. Santa Catalina, La Victoria - Lima 13 - Perú</p>
                </div>
              </div>
            </div>
          </div>
          <div class="contacredes"><span>Síguenos en:</span><a class="icon-facebook" href=""></a><a class="icon-youtube2" href=""></a><a class="icon-twitter" href=""></a></div>
        </div>
        <div class="contac-form">
          <form action="">
            <ul>
              <li>
                <div class="contac-input">
                  <input type="text" name="nombre_apellido" placeholder="Nombres y Apellidos"/>
                </div>
                <div class="contac-input">
                  <input type="text" name="telefono" placeholder="Teléfono"/>
                </div>
              </li>
              <li>
                <div class="contac-input">
                  <input type="text" name="" placeholder="Email"/>
                </div>
                <div class="contac-input">
                  <input type="text" name="empresa" placeholder="Empresa"/>
                </div>
              </li>
              <li>
                <div class="contac-input contactextarea">
                  <textarea name="mensaje" placeholder="Mensaje"></textarea>
                </div>
              </li>
            </ul><a class="btn btn-productos" href=""> <span class="text-btn">enviar</span></a>
          </form>
        </div>
      </div>
    </section>
    
   
    <script src="https://maps.googleapis.com/maps/api/js?v=3.expundefined"></script>
    <script>
      $(function() {
      	$('.contc-info').eq(0).addClass('active');
      	$('.contact-tabs a').click(function(e) {
      		e.preventDefault();
      		$('.contact-tabs a').removeClass('active');
      		$(this).addClass('active');
      		var dataTab = $(this).attr('data-tab');
      		$('.contc-info').removeClass('active');
      		$('.contc-info[id="'+dataTab+'"]').addClass('active');
      	});
      
      	function initMap() {
      		var $map = $( '#google-maplima' );
      		if ( ! $map.length ) return;
      		var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
      		var styles = [
      			{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
      			{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
      			{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
      			{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
      			{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
      			{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
      			{"featureType": "transit","stylers": [{"visibility": "off"}]},
      			{"featureType": "poi","stylers": [{"visibility": "off"}]}
      		]
      		var mapOptions = {
      			zoom             : 15,
      			center           : myLatlng,
      			mapTypeControl   : true,
      			disableDefaultUI : true,
      			zoomControl      : true,
      			scrollwheel      : false,
      			styles           : styles,
      			draggable        : true
      		}
      		var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);
      
      		var marker = new google.maps.Marker({
      			position: myLatlng,
      			map: map,
      			icon:"{{STATIC_URL}}img/marker.png"
      		});
      	}
      	google.maps.event.addDomListener(window, 'load', initMap),
      	$(".cnt-map .abrir-map").click(function(event) {
      		$(".box-map").addClass('anima-map');
      	});
      	$(".cnt-map .cerrar-map").click(function(event) {
      		$(".box-map").removeClass('anima-map');
      	});
      });
    </script>