
    <div class="container-fluid ctn-map-soport">
      <div class="row no-gutters">
        <div class="col-4 sopor-info"> 
          <div class="sopor-info-header">
            <h3>Estamos cada vez más cerca de ti</h3>
            <form>
              <p>
                <input type="text" name="agreement" placeholder="Ingresa tu calle o distrito"/>
              </p>
            </form>
          </div>
          <div class="tab-sopor">
            <ul>
              <li> <a href="" data-id="tab-sopor-1">Todos</a></li>
              <li> <a class="active" href="" data-id="tab-sopor-2">Distribuidores</a></li>
              <li> <a href="" data-id="tab-sopor-3">Soporte</a></li>
            </ul>
          </div>
          <div class="ctn-tabs">
            <div class="tab-item-sopor">
              <h4>LA VICTORIA - Santa Catalina</h4>
              <p> <a href="tel:(511)512-3100">Teléfono: (511) 512-3100</a></p>
              <p>
                <Calle>Rodolfo Beltrán 134 Urb. Santa Catalina, La Victoria - Lima 13 - Perú	</Calle>
              </p>
              <p> <a class="btn-enlace-soport" href="">¿CÓMO LLEGAR?</a></p>
            </div>
            <div class="tab-item-sopor">
              <h4>LA VICTORIA - Santa Catalina</h4>
              <p> <a href="tel:(511)512-3100">Teléfono: (511) 512-3100</a></p>
              <p>
                <Calle>Rodolfo Beltrán 134 Urb. Santa Catalina, La Victoria - Lima 13 - Perú	</Calle>
              </p>
              <p> <a class="btn-enlace-soport" href="">¿CÓMO LLEGAR?</a></p>
            </div>
            <div class="tab-item-sopor">
              <h4>LA VICTORIA - Santa Catalina</h4>
              <p> <a href="tel:(511)512-3100">Teléfono: (511) 512-3100</a></p>
              <p>
                <Calle>Rodolfo Beltrán 134 Urb. Santa Catalina, La Victoria - Lima 13 - Perú	</Calle>
              </p>
              <p> <a class="btn-enlace-soport" href="">¿CÓMO LLEGAR?</a></p>
            </div>
            <div class="tab-item-sopor">
              <h4>LA VICTORIA - Santa Catalina</h4>
              <p> <a href="tel:(511)512-3100">Teléfono: (511) 512-3100</a></p>
              <p>
                <Calle>Rodolfo Beltrán 134 Urb. Santa Catalina, La Victoria - Lima 13 - Perú	</Calle>
              </p>
              <p> <a class="btn-enlace-soport" href="">¿CÓMO LLEGAR?</a></p>
            </div>
          </div>
        </div>
        <div class="col-8 sopor-map">
          <div id="map-soporte"></div>
        </div>
      </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.expundefined"></script>
    <script>
      $(function() {
      	function initMap() {
      		var $map = $( '#map-soporte' );
      		if ( ! $map.length ) return;
      		var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
      		var styles = [
      			{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
      			{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
      			{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
      			{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
      			{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
      			{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
      			{"featureType": "transit","stylers": [{"visibility": "off"}]},
      			{"featureType": "poi","stylers": [{"visibility": "off"}]}
      		]
      		var mapOptions = {
      			zoom             : 15,
      			center           : myLatlng,
      			mapTypeControl   : true,
      			disableDefaultUI : true,
      			zoomControl      : true,
      			scrollwheel      : false,
      			styles           : styles,
      			draggable        : true
      		}
      		var map = new google.maps.Map(document.getElementById('map-soporte'), mapOptions);
      
      		var marker = new google.maps.Marker({
      			position: myLatlng,
      			map: map,
      			icon:"{{STATIC_URL}}img/marker.png"
      		});
      	}
      	google.maps.event.addDomListener(window, 'load', initMap);
      });
    </script>