
    <div class="msj-enviado">
      <div class="msj-envolver">
        <h2>Enviado!</h2>
        <h3>Mensaje recibido</h3>
        <p>Nos estaremos comunicando con usted a la brevedad posible.</p><a class="btn btn-enlace btn-red" href="">Página Principal</a>
      </div>
    </div>