
    <div class="home">
      <div class="home-slider">
        <ul class="slider-home">
          <li class="home-item" style="background-image: url('assets/img/bg-banner-home.jpg');">
            <div class="prin-slider">
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <h3>EL MEJOR PANEL DE ALARMAS</h3>
                    <p>Vigila el hogar desde tu smarthphone</p><a class="btn btn-enlace btn-red" href="">Míralo Aquí</a>
                  </div>
                  <div class="col-6 img-slider"><img class="img-fluid" src="assets/img/img-slider.png" width="658" height="447" alt="Best Security"/>
                    <div class="circle-red-percent">30%</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="home-item" style="background-image: url('assets/img/bg-banner-home.jpg');">
            <div class="prin-slider">
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <h3>EL MEJOR PANEL DE ALARMAS</h3>
                    <p>Vigila el hogar desde tu smarthphone</p><a class="btn btn-enlace btn-red" href="">Míralo Aquí</a>
                  </div>
                  <div class="col-6 img-slider"><img class="img-fluid" src="assets/img/img-slider.png" width="658" height="447" alt="Best Security"/>
                    <div class="circle-red-percent">30%</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="home-item" style="background-image: url('assets/img/bg-banner-home.jpg');">
            <div class="prin-slider">
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <h3>EL MEJOR PANEL DE ALARMAS</h3>
                    <p>Vigila el hogar desde tu smarthphone</p><a class="btn btn-enlace btn-red" href="">Míralo Aquí</a>
                  </div>
                  <div class="col-6 img-slider"><img class="img-fluid" src="assets/img/img-slider.png" width="658" height="447" alt="Best Security"/>
                    <div class="circle-red-percent">30%</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="home-item" style="background-image: url('assets/img/bg-banner-home.jpg');">
            <div class="prin-slider">
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <h3>EL MEJOR PANEL DE ALARMAS</h3>
                    <p>Vigila el hogar desde tu smarthphone</p><a class="btn btn-enlace btn-red" href="">Míralo Aquí</a>
                  </div>
                  <div class="col-6 img-slider"><img class="img-fluid" src="assets/img/img-slider.png" width="658" height="447" alt="Best Security"/>
                    <div class="circle-red-percent">30%</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="slide-productos">
        <div class="container">
          <ul class="slider-productos">
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
          </ul>
        </div>
      </div>
      <div class="category-home">
        <div class="container">
          <h3>Nuestras categorías</h3>
          <div class="category-home-prin">
            <div class="row">
              <div class="col-3">
                <div class="item-prin-ctn">
                  <div class="item-category"> 
                    <div class="item-category-bg" style="background-image: url('assets/img/category-1.jpg');"> </div>
                    <div class="ctn-item-sub">
                      <div class="item-icono"><img class="img-fluid" src="assets/img/icono-item.png" alt="Best Security"/></div>
                      <h4>Cercos</h4><a class="btn btn-enlace btn-red" href="">VER CATÁLOGO</a>
                    </div>
                  </div>
                  <div class="item-category"> 
                    <div class="item-category-bg" style="background-image: url('assets/img/category-1.jpg');"> </div>
                    <div class="ctn-item-sub">
                      <div class="item-icono"><img class="img-fluid" src="assets/img/icono-item.png" alt="Best Security"/></div>
                      <h4>Cercos</h4><a class="btn btn-enlace btn-red" href="">VER CATÁLOGO</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6"> 
                <div class="item-category dos">
                  <div class="item-category-bg" style="background-image: url('assets/img/category-2.jpg');"> </div>
                  <div class="ctn-item-sub">
                    <div class="item-icono"><img class="img-fluid" src="assets/img/icono-item.png" alt="Best Security"/></div>
                    <h4>Cercos</h4><a class="btn btn-enlace btn-red" href="">VER CATÁLOGO</a>
                  </div>
                </div>
              </div>
              <div class="col-3"> 
                <div class="item-prin-ctn">
                  <div class="item-category"> 
                    <div class="item-category-bg" style="background-image: url('assets/img/category-1.jpg');"> </div>
                    <div class="ctn-item-sub">
                      <div class="item-icono"><img class="img-fluid" src="assets/img/icono-item.png" alt="Best Security"/></div>
                      <h4>Cercos</h4><a class="btn btn-enlace btn-red" href="">VER CATÁLOGO</a>
                    </div>
                  </div>
                  <div class="item-category"> 
                    <div class="item-category-bg" style="background-image: url('assets/img/category-1.jpg');"> </div>
                    <div class="ctn-item-sub">
                      <div class="item-icono"><img class="img-fluid" src="assets/img/icono-item.png" alt="Best Security"/></div>
                      <h4>Cercos</h4><a class="btn btn-enlace btn-red" href="">VER CATÁLOGO</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="enlace-item-category"><a class="btn btn-productos" href=""> <span class="text-btn">Ver todas las categorías</span></a></div>
        </div>
      </div>
      <div class="banner-home" style="background-image: url('assets/img/banner-home.jpg');">
        <div class="container">
          <h3>Revisa nuestra lista de distribuidores autorizados</h3><a class="btn btn-enlace btn-red" href="">Ver Lista</a>
        </div>
      </div>
      <div class="productos-home-ctn container-fluid">
        <div class="row">
          <div class="col-4 item-producto-home"><img class="img-fluid" src="assets/img/item-producto.png" alt="Best Security"/>
            <h3>Calculadora de Lente </h3>
            <h4>Herramienta</h4><a class="btn btn-enlace btn-gray" href="">Pruébalo</a>
          </div>
          <div class="col-4 item-producto-home"><img class="img-fluid" src="assets/img/item-producto.png" alt="Best Security"/>
            <h3>Calculadora de Lente </h3>
            <h4>Herramienta</h4><a class="btn btn-enlace btn-gray" href="">Pruébalo</a>
          </div>
          <div class="col-4 item-producto-home"><img class="img-fluid" src="assets/img/item-producto.png" alt="Best Security"/>
            <h3>Calculadora de Lente </h3>
            <h4>Herramienta</h4><a class="btn btn-enlace btn-gray" href="">Pruébalo</a>
          </div>
        </div>
      </div>
      <div class="slider-clients-home" style="background-image: url('assets/img/bg-home.jpg');">
        <div class="container">
          <ul class="slider-clients">
            <li class="slider-client-home-item">
              <div class="item-client-home-ctn">
                <h3>Más de 23 Clientes Satisfechos</h3>
                <p>“Etiam ac ornare lorem cras cursus felis nec magna placerat et molestie nisi congue aliquam diam est ultrices id imperdiet at suscipit vel diam maecenas eleifend urna laoreet varius.”</p>
                <div class="item-client-home"><img class="img-fluid" src="assets/img/img-client.jpg" alt="Best Security"/>
                  <h4>TEDY CRAN </h4>
                  <h5>Jefe de Sistemas Pacifico</h5>
                </div>
              </div>
            </li>
            <li class="slider-client-home-item">
              <div class="item-client-home-ctn">
                <h3>Más de 23 Clientes Satisfechos</h3>
                <p>“Etiam ac ornare lorem cras cursus felis nec magna placerat et molestie nisi congue aliquam diam est ultrices id imperdiet at suscipit vel diam maecenas eleifend urna laoreet varius.”</p>
                <div class="item-client-home"><img class="img-fluid" src="assets/img/img-client.jpg" alt="Best Security"/>
                  <h4>TEDY CRAN </h4>
                  <h5>Jefe de Sistemas Pacifico</h5>
                </div>
              </div>
            </li>
            <li class="slider-client-home-item">
              <div class="item-client-home-ctn">
                <h3>Más de 23 Clientes Satisfechos</h3>
                <p>“Etiam ac ornare lorem cras cursus felis nec magna placerat et molestie nisi congue aliquam diam est ultrices id imperdiet at suscipit vel diam maecenas eleifend urna laoreet varius.”</p>
                <div class="item-client-home"><img class="img-fluid" src="assets/img/img-client.jpg" alt="Best Security"/>
                  <h4>TEDY CRAN </h4>
                  <h5>Jefe de Sistemas Pacifico</h5>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="ctn-home-redes">
        <div class="container">
          <div class="row">
            <div class="col-4 item-redes-home info">
              <div class="item-redes-home-info-prin">
                <h4>¡Visítanos en nuestras redes!</h4>
                <p>Estamos conectados para estar cada vez más cerca de ti.</p>
              </div>
            </div>
            <div class="col-4 item redes-home youtube">
              <div class="item-home-redes-title youtube">
                <p>Suscribete en Youtube</p>
              </div>
              <div class="item-home-redes-main info-main">
                <div class="item-home-redes-fig" style="background-image: url('assets/img/img-redes-home.jpg');">
                  <div class="item-home-redes-info">
                    <h4>Líderes en seguridad electrónica</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 item redes-home face">
              <div class="item-home-redes-title face">
                <p>Unete a facebook</p>
              </div>
              <div class="item-home-redes-main info-main">
                <div class="item-home-redes-fig" style="background-image: url('assets/img/img-redes-home.jpg');">
                  <ul class="item-home-redes-count">
                    <li class="item-likes">335</li>
                    <li class="item-coments">335</li>
                    <li class="item-share">335</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>