
    <section class="Price_list">
      <div class="mainlist">
        <div class="envolvermain">
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
        </div>
      </div>
    </section>