
    <section id="background_nosotros_section">
      <div class="nosotros_section_1">
        <div class="col-xl-5 col-lg-5">
          <div class="content_text_nosotros">
            <h4>Best Security del Perú, velando por la seguridad de los peruanos</h4>
            <p>SkyBell HD es un timbre de video de alta definición patentado conectado a su Wi-Fi de casa que le permite ver, escuchar y hablar con los visitantes en su puerta simplemente usando su smartphone o tableta - incluso si no está en casa. Con una cámara de 1080p, visión nocturna a todo color, sensor de movimiento y alertas en vivo, SkyBell HD le proporcionará..</p>
          </div>
        </div>
        <div class="col-xl-7 col-lg-7">
          <div class="imagen_nosotros"></div>
        </div>
      </div>
    </section>

    <section class="section_mision_vision">
      <div>
        <div class="nosotros_frase_valores">
          <div class="col-xl-5 col-lg-5 col-md-6">
            <div class="content_frase_valores">
              <div class="text_frase_valores">
                <p>Valores que mantenemos con los años, fieles a nuestros principios, en beneficio a nuestros clientes</p>
              </div>
            </div>
          </div>
          <div class="col-xl-7 col-lg-7 col-md-6">
            <div class="content_text_mision_vision">
              <div class="text_mision_vision">
                <h4>Misión</h4>
                <p>Somos una empresa líder orientada a la satisfacción del cliente. Transformamos el conocimiento en valor y las soluciones en experiencias gracias al talento humano y a los procesos eficientes.</p>
              </div>
              <div class="text_mision_vision">
                <h4>Visión</h4>
                <p>Buscamos permanentemente en todo lo que hacemos, ser el número uno del sector de seguridad con la mejor opción de productos para el cliente. Para ello, nos dedicamos de forma comprometida; en un todo simple, transparente, accesible y rentable.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="background_nosotros_section">
      <div>
        <div class="nosotros_icons">
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="content_nosotros_icons">
              <div class="nosotros_icons_img"><img src="assets/img/nosotros_image_garantia.png" alt=""/></div>
              <div class="text_icons_nosotros">
                <p>Garantía</p><span>SkyBell HD es un timbre de video de alta definición patentado conectado a su Wi-Fi de casa que le permite ver.</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="content_nosotros_icons">
              <div class="nosotros_icons_img"><img src="assets/img/nosotros_image_compromiso.png" alt=""/></div>
              <div class="text_icons_nosotros">
                <p>Compromiso</p><span>SkyBell HD es un timbre de video de alta definición patentado conectado a su Wi-Fi de casa que le permite ver.</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="content_nosotros_icons">
              <div class="nosotros_icons_img"><img src="assets/img/nosotros_image_confianza.png" alt=""/></div>
              <div class="text_icons_nosotros">
                <p>Confianza</p><span>SkyBell HD es un timbre de video de alta definición patentado conectado a su Wi-Fi de casa que le permite ver.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>