
    <div class="banner_general">
      <div class="content_img_banner_1">
        <div class="banner_img_1">
          <div class="text_banner_general">
            <h2>Nuestras Promociones</h2>
            <p>Descuentos increíbles en equipos increibles</p>
          </div>
        </div>
      </div>
      <div class="content_img_banner_2">
        <div class="banner_img_2"></div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-md-6 content_img"><img src="assets/img/nuestrasprom_img_1.png" data-toggle="modal" data-target=".bd-example-modal-lg-1"/>
          <div class="modal fade bd-example-modal-lg-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content"><img src="assets/img/nuestrasprom_img_1.png"/></div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-6 content_img"><img src="assets/img/nuestrasprom_img_2.png" data-toggle="modal" data-target=".bd-example-modal-lg-2"/>
          <div class="modal fade bd-example-modal-lg-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content"><img src="assets/img/nuestrasprom_img_2.png"/></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-md-6 content_img"><img src="assets/img/nuestrasprom_img_3.png" data-toggle="modal" data-target=".bd-example-modal-lg-3"/>
          <div class="modal fade bd-example-modal-lg-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content"><img src="assets/img/nuestrasprom_img_3.png"/></div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-6 content_img"><img src="assets/img/nuestrasprom_img_4.png" data-toggle="modal" data-target=".bd-example-modal-lg-4"/>
          <div class="modal fade bd-example-modal-lg-4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content"><img src="assets/img/nuestrasprom_img_4.png"/></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid content_prom_suscribete">
      <div class="row">
        <div class="col-xl-6 col-md-6 suscribete">
          <div class="container">
            <div class="row">
              <div class="col-xl-5 col-md-12 text_suscribete">
                <p>Suscríbete a</p><span>nuestras promociones</span>
              </div>
              <div class="col-xl-7 col-md-12">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Escribe tu mail" aria-label="Search for..."/><span class="input-group-btn">
                    <button class="btn btn-enlace btn-red" type="button">Suscríbete</button></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-6 mirar_promociones_btn">
          <div class="container">
            <div class="row">
              <div class="col-xl-8 text_suscribete">
                <p>Mira nuestras promociones y capacitaciones</p><span>en nuestra página de Facebook</span>
              </div>
              <div class="col-xl-4">
                <button class="btn btn-enlace btn-red" type="button">Mira aquí</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>