
    <div class="nav-producto-detalle container-fluid">
      <ul>
        <li><a href="">Best Security del Perú</a></li>
        <li><a href="">CCTV</a></li>
        <li><a class="active" href="">DOMO PTZ 36X</a></li>
      </ul>
    </div>
    <div class="tab__carrousel">
      <div class="tab__carrousel_container">
        <div class="tab__carrousel__left">
          <div class="tab__carrousel__wrap tab__carrousel--js tab__carrousel--vertical">
            <div class="tab__carrousel__image__big__wrap">
              <div class="tab__carrousel__image__big tab__carrousel__image__big--js" id="product-Tab1"><img src="assets/img/img-tab-slider1.jpg" width="442" height="442" alt=""/></div>
              <div class="tab__carrousel__image__big tab__carrousel__image__big--js" id="product-Tab2"><img src="assets/img/img-tab-slider2.jpg" width="442" height="442" alt=""/></div>
              <div class="tab__carrousel__image__big tab__carrousel__image__big--js" id="product-Tab3"><img src="assets/img/img-tab-slider3.jpg" width="442" height="442" alt=""/></div>
              <div class="tab__carrousel__image__big tab__carrousel__image__big--js" id="product-Tab4"><img src="assets/img/img-tab-slider4.jpg" width="442" height="442" alt=""/></div>
              <div class="tab__carrousel__image__big tab__carrousel__image__big--js" id="product-Tab5"><img src="assets/img/img-tab-slider5.jpg" width="442" height="442" alt=""/></div>
            </div>
            <div class="tab__carrousel__items__wrap tab__carrousel__items--js">
              <ul class="tab__carrousel__items__list tab__carrousel__items--pitcher">
                <li class="tab__carrousel__items__item tab__carrousel__items__item--js" data-id="product-Tab1">
                  <div class="tab__carrousel__items__item-img"><img src="assets/img/img-tab-slider1.jpg" width="50" height="50" alt=""/></div>
                </li>
                <li class="tab__carrousel__items__item tab__carrousel__items__item--js" data-id="product-Tab2">
                  <div class="tab__carrousel__items__item-img"><img src="assets/img/img-tab-slider2.jpg" width="50" height="50" alt=""/></div>
                </li>
                <li class="tab__carrousel__items__item tab__carrousel__items__item--js" data-id="product-Tab3">
                  <div class="tab__carrousel__items__item-img"><img src="assets/img/img-tab-slider3.jpg" width="50" height="50" alt=""/></div>
                </li>
                <li class="tab__carrousel__items__item tab__carrousel__items__item--js" data-id="product-Tab4">
                  <div class="tab__carrousel__items__item-img"><img src="assets/img/img-tab-slider4.jpg" width="50" height="50" alt=""/></div>
                </li>
                <li class="tab__carrousel__items__item tab__carrousel__items__item--js" data-id="product-Tab5">
                  <div class="tab__carrousel__items__item-img"><img src="assets/img/img-tab-slider5.jpg" width="50" height="50" alt=""/></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab__carrousel__right">
          <div class="detaill-info"> 
            <h3>TWD-A001 / SKU: TWD-CMID110-900</h3>
            <h4>DOMO PTZ 36X</h4>
            <div class="list-country f32"><span class="flag-icon flag-icon-pe"> País de origen: Peru</span><span>Fabricante: Dahua Technologies</span></div>
            <ul class="list-detaills-info">
              <li>Zoom óptico de hasta 36x</li>
              <li>Zoom óptico de hasta 36x</li>
              <li>Zoom óptico de hasta 36x</li>
              <li>Zoom óptico de hasta 36x</li>
              <li>Zoom óptico de hasta 36x</li>
              <li>Zoom óptico de hasta 36x</li>
            </ul>
            <div class="ctn-img-caracteristcs">
              <figure><img class="img-fluid" src="assets/img/detaills-img.png" alt="Best Security"/></figure>
              <figure><img class="img-fluid" src="assets/img/detaills-img.png" alt="Best Security"/></figure>
              <figure><img class="img-fluid" src="assets/img/detaills-img.png" alt="Best Security"/></figure>
              <figure><img class="img-fluid" src="assets/img/detaills-img.png" alt="Best Security"/></figure>
              <figure><img class="img-fluid" src="assets/img/detaills-img.png" alt="Best Security"/></figure>
            </div>
            <div class="btn-detaills"><a class="btn btn-enlace btn-red fancy__product__open" href="">Cotizar Producto</a><a class="btn btn-productos" href=""> <span class="text-btn">Ver Lista de Precios</span></a></div>
            <div class="ctn-share-detaills">
              <li>Compartelo en</li>
              <li><a class="icon-facebook" href=""> </a></li>
              <li><a class="icon-youtube2" href=""> </a></li>
              <li><a class="icon-twitter" href=""></a></li>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ctn-tab-products">
      <div class="container-fluid">
        <ul class="nav-tab">
          <li><a class="active" href="" data-id="tab-detaill-1">Información</a></li>
          <li><a href="" data-id="tab-detaill-2">Especificaciones</a></li>
          <li><a href="" data-id="tab-detaill-3">Descargables</a></li>
        </ul>
        <div class="ctn-tabs">
          <div class="active ctn-tab-prin-detaill" id="tab-detaill-1">
            <div class="cnt-tabs-container">
              <div class="row">
                <div class="tab-detaill-info col-12 col-md-6 col-lg-6">
                  <h3>Vigila el hogar desde tu smarthphone</h3>
                  <p>SkyBell HD es un timbre de video de alta definición patentado conectado a su Wi-Fi de casa que le permite ver, escuchar y hablar con los visitantes en su puerta simplemente usando su smartphone o tableta - incluso si no está en casa. Con una cámara de 1080p, visión nocturna a todo color, sensor de movimiento y alertas en vivo, SkyBell HD le proporcionará tranquilidad al responder a la puerta sin comprometer su seguridad. E incluso cuando no contesta, SkyBell HD graba vídeo en su cuenta de nube tan pronto como se presiona el botón o se detecta movimiento.</p>
                </div>
                <div class="tab-detaill-img col-12 col-md-6 col-lg-6"><img class="img-fluid" src="assets/img/img-detaill.jpg" alt="Best Security"/></div>
              </div>
            </div>
          </div>
          <div class="ctn-tab-prin-detaill" id="tab-detaill-2">
            <div class="cnt-tabs-container">
              <ul class="row list-ctn-detaill">
                <li class="col-12 col-md-3 col-lg-3 list-title-product">Sensor de imagen</li>
                <li class="col-12 col-md-9 col-lg-9 list-info-product">1/3” CCD, 1.3 MP</li>
                <li class="col-12 col-md-3 col-lg-3 list-title-product">Sensor de imagen</li>
                <li class="col-12 col-md-9 col-lg-9 list-info-product">1/3” CCD, 1.3 MP</li>
                <li class="col-12 col-md-3 col-lg-3 list-title-product">Sensor de imagen</li>
                <li class="col-12 col-md-9 col-lg-9 list-info-product">1/3” CCD, 1.3 MP</li>
                <li class="col-12 col-md-3 col-lg-3 list-title-product">Sensor de imagen</li>
                <li class="col-12 col-md-9 col-lg-9 list-info-product">1/3” CCD, 1.3 MP</li>
              </ul>
            </div>
          </div>
          <div class="ctn-tab-prin-detaill" id="tab-detaill-3">
            <div class="cnt-tabs-container">
              <ul class="row list-ctn-desc">
                <li class="col-12 col-md-4 col-lg-4 tab-prin-detail-item"><a href="">Catálogo de la categoría 2017 </a></li>
                <li class="col-12 col-md-4 col-lg-4 tab-prin-detail-item"><a href="">Catálogo de la categoría 2017 </a></li>
                <li class="col-12 col-md-4 col-lg-4 tab-prin-detail-item"><a href="">Catálogo de la categoría 2017 </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-products-wrap">
      <div class="slider-products">
        <div class="slider-line-top">
          <div class="slider-products-title">
            <h3>Productos Destacados</h3>
          </div>
          <div class="g-item-slider-cnt-arrows">
            <div class="g-arrow-item-prev icon-flechaizquierda slick-arrow"></div>
            <div class="g-arrow-item-next icon-flecha-derecha slick-arrow"></div>
          </div>
        </div>
        <div class="slider-product-cnt">
          <ul class="slider-product-pitcher">
            <li>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
            </li>
            <li>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
            </li>
            <li>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
            </li>
            <li>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
            </li>
            <li>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
            </li>
            <li>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
            </li>
            <li>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
            </li>
            <li>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
            </li>
            <li>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
            </li>
            <li>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
            </li>
            <li>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
            </li>
            <li>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- fancy -->
    <div class="fancy__product"><span class="fancy__prouct__overlay"></span>
      <section class="fancy__product__block">
        <article class="fancy__product__content">
          <div class="fancy__product__close icon-mas"></div>
          <div class="fancy__product__title">
            <h2>¡Cotizalo instantaneamente!</h2>
            <p>Escribenos y recibirás tu cotización a la brevedad.</p>
          </div>
          <div class="fancy__product__form">
            <form action="">
              <ul>
                <li>
                  <div class="fancy__product__countryside">
                    <input type="text" name="nombre_apellido" placeholder="Nombres y Apellidos"/>
                  </div>
                  <div class="fancy__product__countryside">
                    <input type="text" name="telefono" placeholder="Teléfono"/>
                  </div>
                </li>
                <li>
                  <div class="fancy__product__countryside">
                    <input type="text" name="" placeholder="Email"/>
                  </div>
                  <div class="fancy__product__countryside">
                    <input type="text" name="empresa" placeholder="Empresa"/>
                  </div>
                </li>
                <li>
                  <div class="fancy__product__countryside fancy__product__countryside__textarea">
                    <textarea name="mensaje" placeholder="Mensaje"></textarea>
                  </div>
                </li>
              </ul>
              <div class="fancy__product__button">
                <button class="btn btn-productos"><span class="text-btn">COTIZAR PRODUCTO</span></button>
              </div>
            </form>
          </div>
        </article>
      </section>
    </div>
