
    <main>
      <div class="solutions-tech">
        <div class="gris container-fluid"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12 solution-tech-info">
              <div class="solution-title"><span class="solution-title-prin">T</span>
                <div class="solution-text"> 
                  <h3>Tecnologia</h3>
                </div>
              </div>
              <div class="solution-parraf"> 
                <p>Lorem ipsum dolor sit amet, integer eu massa, sed metus nec non, amet nec quis maecenas ante. Scelerisque ac diam wisi lectus, pede consequat dui ac ut aliquet tempor, nunc neque orci feugiat praesent nullam, torquent amet amet venenatis odio vel sit, diam mollis posuere eu.</p>
              </div>
              <div class="solution-ctn-img">
                <figure><img class="img-fluid" src="assets/img/simit.jpg" width="137" height="113" alt="Simit"/></figure>
                <figure><img class="img-fluid" src="assets/img/simit.jpg" width="137" height="113" alt="Simit"/></figure>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 solution-tech-img"> 
              <figure><img class="img-fluid" src="assets/img/solutions-img-1.jpg" width="508" height="508" alt="Soluciones Tecnologia"/></figure>
            </div>
          </div>
        </div>
      </div>
      <div class="solutions-ben-ctm">
        <div class="container">
          <div class="row no-gutters">
            <div class="solution-ben col-12"> 
              <div class="row">
                <div class="solution-ben-img col-lg-6">
                  <figure><img class="img-fluid" src="assets/img/img-beneficios.jpg" width="653" height="446" alt="Beneficios"/></figure>
                </div>
                <div class="solution-ben-info col-lg-7 ml-lg-auto col-sm-12">
                  <div class="solution-ben-ctn">
                    <div class="solution-title"><span class="solution-title-prin">B</span>
                      <div class="solution-text"> 
                        <h3>Nuestros Beneficios</h3>
                      </div>
                    </div>
                    <div class="solution-ben-parraf">
                      <p>Lorem ipsum dolor sit amet, integer eu massa, sed metus nec non, amet nec quis maecenas ante. Scelerisque ac diam wisi lectus, pede consequat dui ac ut aliquet tempor, nunc neque orci feugiat praesent nullam, torquent amet amet venenatis odio vel sit, diam mollis posuere eu.</p>
                    </div>
                    <div class="solution-ben-icons">
                      <ul class="row d-flex justify-content-md-center">
                        <li class="col-md-3 col-4"><img class="img-fluid" src="assets/img/icon-beneficios.png" width="70" height="70" alt="Beneficios"/>
                          <h4>Última Tecnologia</h4>
                        </li>
                        <li class="col-md-3 col-4"><img class="img-fluid" src="assets/img/icon-beneficios.png" width="70" height="70" alt="Beneficios"/>
                          <h4>Última Tecnologia</h4>
                        </li>
                        <li class="col-md-3 col-4"><img class="img-fluid" src="assets/img/icon-beneficios.png" width="70" height="70" alt="Beneficios"/>
                          <h4>Última Tecnologia</h4>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="solution-prin-slider">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-sm-12">
              <div class="solution-title"><span class="solution-title-prin">A</span>
                <div class="solution-text"> 
                  <h3>Automatización de los Procesos Documentales</h3>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
              </div>
              <div class="solution-ctn-slider">
                <ul>
                  <li class="slider-img"><img class="img-fluid" src="assets/img/img-slider.jpg" width="411" height="361" alt="Automatización de los Procesos"/>
                    <div class="slider-title">
                      <h4>Cuentas por pagar</h4>
                    </div>
                    <div class="info-slider">
                      <div class="info-slider-ctn">
                        <h5>PROCESO DE MESA DE PARTES</h5><a class="btn-enlace" href=""> <span>Ver Más </span></a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
