
    <div class="solutions">
      <section class="banner">
        <div class="banner-content">
          <article class="banner-textarea">
            <div class="banner-title">
              <h2>Lorem ipsum dolor ist amet, <br>integer eu massa</h2>
            </div>
          </article>
        </div>
      </section>
      <main class="main">
        <section class="block">
          <div class="content">
            <article class="textarea">
              <div class="title"><span class="number">1</span>
                <h2>TECNOLOGÍA</h2>
              </div>
              <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
              </div><a class="btn-enlace" href="#"><span>Ver Más </span></a>
            </article>
            <figure class="img"><img src="assets/img/solutions-img-1.jpg" width="508" height="508" alt="foto-1" title="solution-1"/></figure>
          </div>
        </section>
        <section class="block">
          <div class="content">
            <article class="textarea">
              <div class="title"><span class="number">2</span>
                <h2>TECNOLOGÍA</h2>
              </div>
              <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
              </div><a class="btn-enlace" href="#"><span>Ver Más </span></a>
            </article>
            <figure class="img"><img src="assets/img/solutions-img-2.jpg" width="508" height="508" alt="foto-1" title="solution-1"/></figure>
          </div>
        </section>
        <section class="block">
          <div class="content">
            <article class="textarea">
              <div class="title"><span class="number">3</span>
                <h2>TECNOLOGÍA</h2>
              </div>
              <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
              </div><a class="btn-enlace" href="#"><span>Ver Más </span></a>
            </article>
            <figure class="img"><img src="assets/img/solutions-img-3.jpg" width="508" height="508" alt="foto-1" title="solution-1"/></figure>
          </div>
        </section>
      </main>
    </div>