article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
  display: block

audio, canvas, video
  display: inline-block

audio:not([controls])
  display: none
  height: 0

[hidden]
  display: none

html
  font-family: sans-serif
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  margin: 0

a
  &:focus
    outline: thin dotted
  &:active, &:hover
    outline: 0

h1
  font-size: 2em
  margin: 0.67em 0

abbr[title]
  border-bottom: 1px dotted

b, strong
  font-weight: bold

dfn
  font-style: italic

hr
  -moz-box-sizing: content-box
  box-sizing: content-box
  height: 0

mark
  background: #ff0
  color: #000

code, kbd, pre, samp
  font-family: monospace, serif
  font-size: 1em

pre
  white-space: pre-wrap

q
  quotes: "\201C" "\201D" "\2018" "\2019"

small
  font-size: 80%

sub
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline
  top: -0.5em

sub
  bottom: -0.25em

img
  border: 0

svg:not(:root)
  overflow: hidden

figure
  margin: 0

fieldset
  border: 1px solid #c0c0c0
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em

legend
  border: 0
  padding: 0

button, input, select, textarea
  font-family: inherit
  font-size: 100%
  margin: 0

button, input
  line-height: normal

button, select
  text-transform: none

button, html input[type="button"]
  -webkit-appearance: button
  cursor: pointer

input
  &[type="reset"], &[type="submit"]
    -webkit-appearance: button
    cursor: pointer

button[disabled], html input[disabled]
  cursor: default

input
  &[type="checkbox"], &[type="radio"]
    box-sizing: border-box
    padding: 0
  &[type="search"]
    -webkit-appearance: textfield
    -moz-box-sizing: content-box
    -webkit-box-sizing: content-box
    box-sizing: content-box
    &::-webkit-search-cancel-button, &::-webkit-search-decoration
      -webkit-appearance: none

button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0

textarea
  overflow: auto
  vertical-align: top

table
  border-collapse: collapse
  border-spacing: 0

/* default

body, span, object, iframe, h1, h2, h3, h4, h5, h6, h7 p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, section, menu, details
  margin: auto
  padding: 0
  border: 0
  font-weight: inherit
  font-style: inherit
  font-size: 100%
  font-family: inherit
  vertical-align: baseline

article, aside, dialog, figure, footer, header, hgroup, section, menu
  display: block

html
  height: 100%

body
  height: 100%
  font-family: Verdana

a
  text-decoration: none

li
  list-style: none

h2
  margin: 0 0 10px
  font-size: 38px
  line-height: 1
  font-weight: bold

h3
  margin: 0 0 10px
  font-size: 12px
  line-height: 1

h4
  padding: 0
  margin: 0 0 10px
  font-size: 16px
  line-height: 1

h5
  margin: 0 0 10px
  font-size: 18px
  line-height: 1
  font-weight: bold

h6
  font-size: 16px
  font-size: 18px
  line-height: 1

a img
  border: none

p
  margin: 0 0 15px

li
  list-style: none

em, cite
  font-style: normal

strong
  font-weight: bold

label
  cursor: pointer

textarea
  font-family: Arial, sans-serif
  resize: none

input[type="submit"]
  cursor: pointer

\:focus
  outline: 0

table
  border-collapse: collapse
  border-spacing: 0

caption, th, td
  font-weight: normal

table, th, td
  vertical-align: middle

br
  line-height: 1