.navbar
    height: 81px
    padding: 0 
    box-sizing: border-box
    z-index: 1004
    &.active
        z-index: -1
.nav-bar-ctn
    max-width: 1600px
    padding: 0 15px
    box-sizing: border-box
    align-items: center
    width: 100%
    margin: auto
    height: 100%
    position: relative
.nav-bar-fixed
    height: 80px
    position: fixed
    left: 0
    width: 100%
    top: 0
    background: $blanco
    z-index: 999
    border-bottom: 1px solid $c-2
.collapseavbar
    padding-left: 130px
.navbar-nav
    box-sizing: border-box
    margin: 0
    padding-left: 45px
    height: 100%
.ctn-nav-bar
    align-items: center
    height: 100%
.navbar-nav .nav-link
    text-transform: uppercase
    color: $c-1 !important
    padding: 0
    position: relative
    font-size: 13px
    font-family: $t-0
    transition: opacity 0.2s linear,color 0.2s linear
.navbar-dark .navbar-brand
    color: $c-1
    transition: all .3s ease-in-out
    &.active
        height: 78px
        img
            max-width: 100px
.nav-item
    margin: 0 45px 0 0
    height: 100%
    line-height: 80px
    &.active
        .nav-link
            color: $c-1 !important
            opacity: 1
            &:before
                transform: scaleX(1)

    &:last-child
        margin-right:  0
.nav-bar-socials
    display: flex
    a
        color: $c-1
        margin-right: 30px
        font-size:  17px
        &:last-child
            margin-right: 0
        &:before
            transition: all .4s ease-in-out
.navbar-brand
    margin: 0
    padding: 0
    width: 130px
    height: 130px
    background: $c-3
    display: flex
    position: absolute
    top: 0
    left: 0
    z-index: 100
    align-items: center
.navbar-dark .navbar-toggler
    border: 0
    padding: 0
    display: none
    span
        display: block
        height: 1px
        width: 20px
        background: $c-1
        margin-bottom: 5px
        &:last-child
            margin-bottom: 0
.nav-responsive
    position: fixed
    height: 100%
    width: 100%
    right: 0
    top: 0
    max-width: 300px
    background: $blanco
    transform: translateX(100%)
    opacity: 0
    transition: all .3s linear
    padding: 15px
    box-sizing: border-box
    visibility: hidden
    z-index: 1005
    overflow: auto
    &.active
        transform: translateX(0)
        opacity: 1
        visibility: visible
.bg-nav
    position: fixed
    height: 100%
    width: 100%
    top: 0
    left: 0
    background: $negro
    opacity: 0
    visibility: hidden
    transition: all .3s ease
    &.active
        z-index: 1003
        opacity: .8
        visibility: visible
.ctn-menu-responsive
    position: relative
    width: 100%
.menu-responsive    
    margin: 15px 0 0 0
    .nav-bar-socials
        display: block
        margin-top: 10px
        text-align: center
.logo-responsive
    max-width: 100px
    margin-top: 40px
.nav-bar-search
    p 
        margin: 0
        position: relative
    input
        width: 100%
        color: $c-4
        height: 25px
        border: 0
        font-size: 11px
        border-bottom: 1px solid $c-4
        padding: 0 10px
        box-sizing: border-box
.btn-search
    position: absolute
    display: block
    background: none
    border: 0
    top: 0
    right: 10px
    color: $c-3
    font-size: 14px
    &:before
        position: absolute
        top: 0
        left: 0
        content: "\e902"
        position: absolute
        font-family: icomoon
.nav-bar-phone
    a 
        color: $c-0
        font-size: 14px
        position: relative
        display: block
        padding-left: 25px
        &:before
            content: "\e90e"
            position: absolute
            top: 0
            left: 0
            font-family: icomoon
.mega-menu
    position: fixed
    top: 76px
    left: 0
    z-index: 99
    width: 100%
    padding: 35px 0 50px 0
    background: #f8fafb
    opacity: 0
    transition: all .3s ease-in-out
    visibility: hidden
    .container
        max-width: 1600px
        padding: 0 175px
        box-sizing: border-box
.ctn-items-menu
    display: flex
    flex-wrap: wrap

.item-mega-menu
    color: $c-1
    width: 20%
    margin: 0
    padding-right: 10px
    box-sizing: border-box
    margin-bottom: 20px
    h3
        max-width: 160px
        font-size: 12px
        margin: 0 0 13px 0
        font-family: $t-1
        font-weight:  normal
        text-transform: uppercase
        padding-bottom: 10px
        border-bottom: 1px solid $c-0
    img
        display: block
        margin: 0
    &:hover
        color: $c-1
        text-decoration: none
.btn-search.dos
    display: none
.nav-search-responsive
    display: none
.btn-close-search, .btn-close-header
    position: absolute
    top: 10px
    right: 10px
    color: $c-3
    font-size: 20px
    cursor: pointer
.btn-close-header
    right: 25px
    z-index: 3
body.active
    overflow: hidden
@media screen and (min-width: 1025px)
    .navbar-dark .navbar-nav .nav-link:hover
        color: $c-3
    .nav-item.productos:hover > .mega-menu
        opacity: 1
        visibility: visible
@media screen and (max-width: 1400px)
    .nav-item
        margin-right: 20px
    .nav-bar-phone a
        font-size: 13px
        padding-left: 20px
@media screen and (max-width: 1200px)
    .navbar-brand
        margin-left: 15px
    .navbar-nav
        padding-left: 30px
    .nav-item
        margin-right: 10px
    .navbar-dark .navbar-nav .nav-link
        font-size: 11px
@media screen and (max-width: 991px)
    a:hover
        color: inherit
    .nav-bar-socials
        display: none
    .navbar-dark
        .navbar-brand.active
            height: 58px
            img
                width: 70px
    .nav-item
        margin-right: 0
        margin-bottom: 12px
        line-height: inherit
        &:last-child
            margin-bottom: 0
    .nav-bar-phone, .collapseavbar
        display: none
    .navbar-brand
        height: 80px
        width: 80px
        position: inherit
        margin-left: 0
        margin-right: auto
        padding: 0 3px
    .navbar
        height: 61px
    .nav-bar-fixed
        height: 60px
    .nav-bar-ctn
        display: flex
        justify-content: center
    .navbar-nav
        padding-left: 0
    .collapseavbar
        padding-left: 15px
    .ctn-nav-bar
        width: calc(100% - 150px)
        max-width: 400px
        margin: auto
    .navbar-dark .navbar-toggler
        margin-left: auto
        display: inline-block
    .menu-responsive
        input
            height: 50px
        .footer-cliente, .footer-herramientas
            width: 100%
            padding: 0
            box-sizing: border-box
            max-width: 100%
            display: block
            .footer-pad
                h4
                    display: none
                li
                    display: block
                    font-size: 13px
                    color: $c-1
                    text-transform: uppercase
                    font-family: $t-0
                    margin-bottom: 12px
                a
                    color: $c-1
                    &:hover
                        text-decoration: none
        .footer-cliente
            margin-top: 12px
        .listado-precio-footer
            display: none
        .nav-bar-phone
            display: block
            padding: 0
            a
                color: $c-1
                &:before
                    color: $c-3
                &:hover
                    text-decoration: inherit
        .footer-redes
            display: block
    .navbar-search-tel
        height: 20px
    .nav-search-responsive
        position: absolute
        top: 0
        left: 0
        height: 150px
        width: 100%
        z-index: 999
        display: flex
        align-items: center
        top: 60px
        transform: translateY(-200%)
        opacity: 0
        transition: all .3s ease-in-out
        background: $blanco
        &.active
            transform: translateY(0)
            opacity: 1
            z-index: 1004
        .nav-bar-search
            display: block
            width: 100%
    .logo-responsive
        background: $c-3
        height: 80px
        align-items: center
        margin: 0
        max-width: 80px
        text-align: center
        display: flex
        padding: 0 3px
@media screen and (max-width: 767px)
    .menu-responsive
        .footer-pad
            text-align: left
@media screen and (max-width: 480px)
    .btn-search.dos
        display: block
        font-size: 20px
        top: 0
        height: 20px
        width: 20px
    .nav-bar-search
        display: none