.banner__interna
		.banner__interna__contenido
			h2.banner__interna__title <strong>LINEA CCTV</strong> MEJOR CAPTURACIÓN, MAYOR DEFINICIÓN
		.banner__interna__img(style=`background-image: url('${STATIC_URL}img/banner-img-right.jpg');`)