nav.navbar.navbar-expand-lg.navbar-dark
  .nav-bar-fixed
    .nav-bar-ctn
      a.navbar-brand
        img(src=`${STATIC_URL}img/logo.png` width="120" height="61" alt="Best Security" class='img-fluid')
      .row.ctn-nav-bar
        #navbarColor01.collapseavbar.navbar-collapse.col-lg-7.col-sm-3.col-3
          ul.navbar-nav
            li.nav-item.productos
              a.nav-link(href='productos.html') Productos
              .mega-menu
                .container
                    .ctn-items-menu
                      - for (var x = 0; x < 9; x++)
                        a.item-mega-menu( href='#')
                          h3 Cctv
                          img(src=`${STATIC_URL}img/img-menu.jpg` width="175" height="124" alt="Best Security" class='img-fluid')
            li.nav-item
              a.nav-link(href='promociones.html') Promociones
            li.nav-item
              a.nav-link(href='capacitaciones.html') Capacitaciones
            li.nav-item
              a.nav-link(href='soporte.html') Soporte
            li.nav-item
              a.nav-link(href='distribuidores.html') Distribuidores
        .navbar-search-tel.col-lg-5.col-sm-12
          .row
            .nav-bar-search.col-lg-8.col-sm-12
              form
                p
                  input(type='text' name='agreement' placeholder='ENCUENTRA TU PRODUCTO IDEAL')
                  button.btn-search
            .nav-bar-phone.col-lg-4
              a(href='tel:5123100') 512-3000
            button.btn-search.dos
      button.navbar-toggler(type='button')
        span
        span
        span
.nav-search-responsive
  .btn-close-search x
  .nav-bar-search
    form
      p
        input(type='text' name='agreement' placeholder='ENCUENTRA TU PRODUCTO IDEAL')
        button.btn-search.dos
.nav-responsive
  .btn-close-header x
  .ctn-menu-responsive
    a.logo-responsive
        img(src=`${STATIC_URL}img/logo.png` width="120" height="61" alt="Security" class='img-fluid')
    .menu-responsive
.bg-nav
