extends ./_common/base.pug

block content

	- var page = ['products']	
	div(class=page)
		main.main
			.search__title
				h2 RESULTADOS DE BÚSQUEDA
				p Se<strong>encontraron (4) resultados para "cámaras"</strong>
			.content
				.boxleft
					.filter-head-resp
						span.filter-title-resp FILTRAR
						span.filter-close.icon-mas
					.list
						ul
							li.list-item.active
								a(href="").list-title.list-click CATEGORÍAS
								ul.content-links.list-textarea
									- for (var x = 0; x < 9; x++)
										li.link-item
											a(href="").link
												figure.icono-link
													img.icono-link-normal(src=`${STATIC_URL}img/products-img-normal-${x+1}.png`, width="30", height="30", alt="link-1", title="link-1-normal")
													img.icono-link-hover(src=`${STATIC_URL}img/products-img-hover-${x+1}.png`, width="30", height="30", alt="link-1", title="link-1-hover")
												span.text-link Control de acceso y asistencia
							- for (var x = 0; x < 7; x++)
								li.list-item
									a(href="").list-title.list-click TECNOLOGÍA
									ul.content-fields.list-textarea
										- for (var i = 1; i <= 5; i++)
											li.field-item
												input(type="checkbox", id="field-" + i)
												label(for="field-" + i).field-text Análogo #{+i}
				.boxright
					.filter
						.filter-content
							.filter-item.filter-box1
								span.filter-text Ordenar por
								.filter-select
									select(name="")
										option(value=0) promociones-1
										option(value=1) promociones-2
										option(value=2) promociones-3
							.filter-item.filter-box2
								span.filter-text Mostrar
								.filter-select
									select(name="")
										option(value=0) 12
										option(value=1) 24
										option(value=2) 36
							span.filter-btn-resp.icon-filtro
					section.items
						- for (var x = 0; x < 12; x++)
							article.item
								span.circle 10%
								figure.img
									img(src=`${STATIC_URL}img/img-proportion.jpg`, width="150", height="150", alt="foto-1", title="product-1")
								span.code SKU 12321435
								h2.title Estación Base Power Beam M5 AirMAX
								.btn-abs
									a.btn.btn-productos( href='')
										span.text-btn Ver Producto
					section.pager
						ul
							li
								a(href='').prev.icon-flechaizquierda
							- for (var x = 0; x < 5; x++)
								li
									a(href='') #{x+1}
							li
								a(href='').next.icon-flecha-derecha