extends ./_common/base.pug

block content
	.msj-enviado
		.msj-envolver
			h2 404 Error
			h3 Página no encontrada
			p Esta página puede estar no disponible o haber cambiado de dirección o no existir. <br> Compruebe si la dirección es correcta o regrese.
			a.btn.btn-enlace.btn-red( href='') Página Principal