extends ./_common/base.pug
block content
	include _common/banner_interna.pug
	section.Price_list
		.mainlist
			.envolvermain
				- for (var x = 0; x < 9; x++)
					.list-itm
						.list-envolver
							figure
								img(src=`${STATIC_URL}img/img_1.png`, width="80", height="80", alt="listado precios")
							h3 Incendio
							a(href="" download) 
								span DESCARGAR 
								span 
									img(src=`${STATIC_URL}img/download.svg`, width="12", height="12", alt="")
							
