extends ./_common/base.pug
block content
	.banner_general
		.content_img_banner_1
			.banner_img_1
				.text_banner_general
					h2 Nuestras Categorías
					p 9 líneas de negocio a medidad
		.content_img_banner_2
			.banner_img_2
	.nuestras-categorias
		.container
			.row
				.col-xl-4.col-lg-4.col-md-6.categorias_img
					a(href='#')
						img(src=`${STATIC_URL}img/categorias_img_1.png`, alt='Responsive image')
						.categorias_text_img
							p Cercos
							span.btn-enlace.text_ver_catalogo Ver catálogo
				.col-xl-4.col-lg-4.col-md-6.categorias_img
					a(href='#')
						img(src=`${STATIC_URL}img/categorias_img_2.png`, alt='.Responsive image')
						.categorias_text_img
							p CCTV
							span.btn-enlace.text_ver_catalogo Ver catálogo
				.col-xl-4.col-lg-4.col-md-6.categorias_img
					a(href='#')
						img(src=`${STATIC_URL}img/categorias_img_3.png`, alt='Responsive image')
						.categorias_text_img
							p Controles
							span.btn-enlace.text_ver_catalogo Ver catálogo
				.col-xl-4.col-lg-4.col-md-6.categorias_img
					a(href='#')
						img(src=`${STATIC_URL}img/categorias_img_4.png`, alt='Responsive image')
						.categorias_text_img
							p Incendio
							span.btn-enlace.text_ver_catalogo Ver catálogo
				.col-xl-4.col-lg-4.col-md-6.categorias_img
					a(href='#')
						img(src=`${STATIC_URL}img/categorias_img_5.png`, alt='Responsive image')
						.categorias_text_img
							p Cables
							span.btn-enlace.text_ver_catalogo Ver catálogo
				.col-xl-4.col-lg-4.col-md-6.categorias_img
					a(href='#')
						img(src=`${STATIC_URL}img/categorias_img_6.png`, alt='Responsive image')
						.categorias_text_img
							p Redes y com.
							span.btn-enlace.text_ver_catalogo Ver catálogo
							| >
				.col-xl-4.col-lg-4.col-md-6.categorias_img
					a(href='#')
						img(src=`${STATIC_URL}img/categorias_img_7.png`, alt='Responsive image')
						.categorias_text_img
							p Videoporteros
							span.btn-enlace.text_ver_catalogo Ver catálogo
				.col-xl-4.col-lg-4.col-md-6.categorias_img
					a(href='#')
						img(src=`${STATIC_URL}img/categorias_img_8.png`, alt='Responsive image')
						.categorias_text_img
							p Iluminación
							span.btn-enlace.text_ver_catalogo Ver catálogo
				.col-xl-4.col-lg-4.col-md-6.categorias_img
					a(href='#')
						img(src=`${STATIC_URL}img/categorias_img_4.png`, alt='Responsive image')
						.categorias_text_img
							p Alarmas
							span.btn-enlace.text_ver_catalogo Ver catálogo
