extends ./_common/base.pug

block content
	include _common/banner_interna.pug

	.promotions
		main.promotions__content
			.promotions__items
				.promotions__item
					a(href="").promotions__img
						img(src=`${STATIC_URL}img/promotions__img__1.jpg`, width="560", height="560", title="promociones-1")
				.promotions__item
					a(href="").promotions__img
						img(src=`${STATIC_URL}img/promotions__img__2.jpg`, width="560", height="560", title="promociones-2")
				.promotions__item
					a(href="").promotions__img
						img(src=`${STATIC_URL}img/promotions__img__3.jpg`, width="560", height="560", title="promociones-3")
				.promotions__item
					a(href="").promotions__img
						img(src=`${STATIC_URL}img/promotions__img__4.jpg`, width="560", height="560", title="promociones-4")
		.promotions__form__social
			.promotions__form
				form(action="")
					.promotions__form__group
						.promotions__form__text
							p <strong>Suscríbete a</strong> nuestras promociones
						.promotion__form__wrap
							.promotion__form__campo
								input(type='text', placeholder='Escribe tu mail')
							.promotion__form__button
								button.btn.btn-enlace.btn-red(type='button') Suscríbete
			.promotions__social
				.promotions__social__wrap
					.promotions__social__text
						p <strong>Mira nuestras promociones y capacitaciones</strong> en nuestra página de Facebook
					.promotions__social__link
						a(href="").btn.btn-enlace.btn-red Mira aquí
