extends ./_common/base.pug

block content
	main
		.solutions-tech
			.gris.container-fluid
			.container
				.row
					.col-md-6.col-sm-12.solution-tech-info
						.solution-title
							span.solution-title-prin T
							.solution-text 
								h3 Tecnologia
						.solution-parraf 
							p Lorem ipsum dolor sit amet, integer eu massa, sed metus nec non, amet nec quis maecenas ante. Scelerisque ac diam wisi lectus, pede consequat dui ac ut aliquet tempor, nunc neque orci feugiat praesent nullam, torquent amet amet venenatis odio vel sit, diam mollis posuere eu.
						.solution-ctn-img
							- for (var x = 0; x < 2; x++)
								figure
									img(src=`${STATIC_URL}img/simit.jpg` width="137" height="113" alt="Simit" class='img-fluid')
					.col-md-6.col-sm-12.solution-tech-img 
							figure
								img(src=`${STATIC_URL}img/solutions-img-1.jpg` width="508" height="508" alt="Soluciones Tecnologia" class='img-fluid')
		.solutions-ben-ctm
			.container
				.row.no-gutters
					.solution-ben.col-12 
						.row
							.solution-ben-img.col-lg-6
								figure
									img(src=`${STATIC_URL}img/img-beneficios.jpg` width="653" height="446" alt="Beneficios" class='img-fluid')
							.solution-ben-info.col-lg-7.ml-lg-auto.col-sm-12
								.solution-ben-ctn
									.solution-title
										span.solution-title-prin B
										.solution-text 
											h3 Nuestros Beneficios
									.solution-ben-parraf
										p Lorem ipsum dolor sit amet, integer eu massa, sed metus nec non, amet nec quis maecenas ante. Scelerisque ac diam wisi lectus, pede consequat dui ac ut aliquet tempor, nunc neque orci feugiat praesent nullam, torquent amet amet venenatis odio vel sit, diam mollis posuere eu.
									.solution-ben-icons
										ul.row.d-flex.justify-content-md-center
											- for (var x = 0; x < 3; x++)
												li.col-md-3.col-4
													img(src=`${STATIC_URL}img/icon-beneficios.png` width="70" height="70" alt="Beneficios" class='img-fluid')
													h4 Última Tecnologia
		
		.solution-prin-slider
			.container
				.row.no-gutters
					.col-sm-12
						.solution-title
							span.solution-title-prin A
							.solution-text 
								h3 Automatización de los Procesos Documentales
								p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
						.solution-ctn-slider
							ul
								li.slider-img
									img(src=`${STATIC_URL}img/img-slider.jpg` width="411" height="361" alt="Automatización de los Procesos" class='img-fluid')
									.slider-title
										h4 Cuentas por pagar
									.info-slider
										.info-slider-ctn
											h5 PROCESO DE MESA DE PARTES
											a(class = 'btn-enlace', href='') 
												span Ver Más 





