extends ./_common/base.pug

block content
	.container-fluid.ctn-map-soport
		.row.no-gutters
			.col-lg-4.sopor-info 
				.sopor-info-header
					h3 Estamos cada vez más cerca de ti
					form
						p
							input(type='text' name='agreement' placeholder='Ingresa tu calle o distrito')
				.tab-sopor
					ul
						li 
							a(href='', data-id='tab-sopor-1') Todos
						li 
							a(href='', data-id='tab-sopor-2') Distribuidores
						li 
							a.active(href='', data-id='tab-sopor-3') Soporte
				.ctn-tabs
					- for (var x = 0; x < 3; x++)
						.ctn-tab-prin(id=`tab-sopor-${x + 1}`)
							- for (var y = 0; y < 4; y++)
								.tab-item-sopor
									h4 LA VICTORIA - Santa Catalina
									p 
										a(href='tel:(511)512-3100') Teléfono: (511) 512-3100
									p
										Calle Rodolfo Beltrán 134 Urb. Santa Catalina, La Victoria - Lima 13 - Perú	
									p 
										a.btn-enlace-soport.ver-mapa(href='') Ver mapa
										a.btn-enlace-soport(href='') ¿CÓMO LLEGAR?

							
			.col-lg-8.sopor-map
				a.btn.btn-enlace.btn-red( href='') Cerrar mapa
				#map-soporte

append scripts 
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(function() {
			function initMap() {
				var $map = $( '#map-soporte' );
				if ( ! $map.length ) return;
				var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
				var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : 15,
					center           : myLatlng,
					mapTypeControl   : true,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById('map-soporte'), mapOptions);

				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:"${STATIC_URL}img/best-map.jpg"
				});
			}
			google.maps.event.addDomListener(window, 'load', initMap);
			$('.ctn-tab-prin:first-child').addClass('active');
			$('.tab-sopor a').click(function(event){
				event.preventDefault();	

				// capturamos el data-id			
				var bdataid = $(this).attr('data-id');
				$(".tab-sopor a").removeClass('active');
				$(this).addClass('active');
				$(".ctn-tab-prin").removeClass('active');
				$('.ctn-tab-prin[id="'+bdataid+'"]').addClass('active');
			});
			$('.ver-mapa').click(function(){
				event.preventDefault();	
				$('.sopor-map').addClass('active');
			});
			$('.sopor-map a').click(function(){
				event.preventDefault();	
				$('.sopor-map').removeClass('active');
			});
		});