.header-capacitaciones
    padding: 32px 0 25px 0
    border-bottom: 1px solid $c-2
    .form-group
        margin: 0 40px 0 0
        &:last-child
            margin-right: 0
    label
        color: $c-1
        font-family: $t-1
        font-size: 16px
        margin: 0
        padding: 0
    select
        color: $c-0
        border: 0
        height: auto !important
        appearance: none
        padding: 0 15px
        font-size: 16px
        line-height: 23px
.ctn-select
    position: relative
    padding-right: 15px
    &:before
        content: "\e93f"
        font-family: icomoon
        position: absolute
        top: 4px
        right: 0
        color: #58595b
        transform: rotate(-90deg)
        font-size: 10px
.ctn-calendar-main
    padding-top: 65px
    padding-right: 80px
    display: flex
    justify-content: flex-end
    .clndr
        width: 100%
        max-width: 475px
    .clndr-controls
        justify-content: flex-end
    .month
        font-size: 25px
        color: $c-1
        font-family: $t-1
        order: 1
        margin-right: auto
    .clndr-control-button
        order: 2
        height: 35px
        width: 55px
        border: 1px solid $c-2
        border-radius: 15px
        margin-left: 8px
        text-align: center
        cursor: pointer
        position: relative
        transition: all .3s ease-in-out
        span
            opacity: 0
        &:before
            position: absolute
            content: "\e93f"
            font-family: icomoon
            color: $c-2
            color: #58595b
            font-size: 10px
            line-height: 35px
            left: 0
            right: 0
            margin: auto
    .clndr-control-button.rightalign
        order: 3
        &:before
            content: "\e93e"
    .clndr-controls
        display: flex
    .clndr-table
        width: 100%
        margin: 45px 0 0 0
        font-size: 18px
        td
            width: 14.28%
            text-align: center
            color: $c-1
            padding-top: 15px
            padding-bottom: 15px
            &.header-day
                color: $negro
                font-family: $t-1
                padding: 0
            &.next-month, &.last-month
                color: #58595b
                opacity: .7
            &.today
                color: $blanco
                background: $c-3
@media screen and (min-width: 1025px)
    .clndr-control-button:hover
        background: $c-2
        