.capacitaciones_filtros
  border-bottom: 2px solid #F2F2F2
  padding: 30px 15px

.content_filtros_capacitaciones
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  .content_cuidad_filtros, .content_negocio_filtros
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start

.content_cuidad_filtros
  padding-right: 30px

.content_filtros_capacitaciones select
  border: none
  font-family: 'ProximaNova-Regular'
  font-size: 16px
  -webkit-appearance: none

.content_select
  position: relative
  select
    cursor: pointer
  &:before
    content: "\e93e"
    font-family: icomoon
    position: absolute
    font-size: 10px
    top: 12px
    right: 0
    transform: rotate(90deg)

.content_filtros_capacitaciones p
  font-family: 'ProximaNova-Bold'
  font-size: 16px
  line-height: 2.4
  margin-bottom: 0px

#exampleAccordion
  overflow-y: scroll
  width: 100%
  height: 500px
  .item
    border-bottom: 2px solid #F2F2F2
    padding: 35px 0px

.capacitaciones_acordion
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  .acordion_fecha
    height: 100px
    font-family: 'ProximaNova-Semibold'
    background-color: #F9F9F9
    text-align: center
    line-height: 1
    padding: 23px

.acordion_fecha
  .fecha_numero
    font-size: 38px
    color: #DE0000
  p
    font-size: 13px
    color: #58595B
    margin-bottom: 0

.capacitaciones_acordion .acordion_text
  max-width: 500px
  padding-left: 5%
  p
    font-family: 'ProximaNova-Regular'
    font-size: 16px
    color: #58595B
  h5
    font-family: 'ProximaNova-Bold'
    font-size: 20px
    color: #58595B
    text-transform: uppercase
    margin-bottom: 20px
  a
    font-family: 'ProximaNova-Regular'
    font-size: 15px
    color: #8E9093
    margin-bottom: 20px

.acordion_text .capacitaciones_verinfo:before:hover
  color: #8E9093 !important

.capacitaciones_buttons button
  margin-bottom: 20px

#exampleAccordion .content_info_acordion
  p
    font-family: 'ProximaNova-Bold'
    font-size: 16px
    color: #58595B
  ul
    margin-bottom: 30px
    li
      font-family: 'ProximaNova-Regular'
      font-size: 14px
      color: #858789
  .text_expositor
    font-family: 'ProximaNova-Regular'
    font-size: 14px
    color: #858789

.content_info_acordion .compartelo_en
  margin-bottom: 40px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  .content_icons
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start

.icon-facebook, .icon-youtube2, .icon-twitter
  width: 30px
  height: 30px
  background-color: #ffffff
  color: #858789
  border: 1px solid #858789
  padding-top: 8px
  text-align: center
  font-size: 12px
  margin-left: 10px

.icon-facebook:hover, .icon-youtube2:hover, .icon-twitter:hover
  color: #DE0000

/*Abrir-cerrar Acordión

.capacitaciones_acordion
  .abrir
    &.collapsed
      display: block
    display: none
  .cerrar
    &.collapsed
      display: none
    display: block