.mapcontacto
	a
		color: inherit
		&:focus
			outline: none
	.cnt-map
		text-align: center
		.box-map
			width: 100%
			height: 350px
			position: relative
			transition: all .5s
		.map
			width: 100%
			height: 100%
		.abrir-map, .cerrar-map
			display: inline-block
			height: 35px
			line-height: 35px
			cursor: pointer
			background: c-1
			color: blanco
			font-family: t-2
			border-radius: 5px
			padding: 0 30px
			display: none
			&:hover
				background: c-1
		.cerrar-map
			position: absolute
			left: 10px
			bottom: 30px
			z-index: 100
			
.tabcontacto
	max-width: 1150px
	width: 95%
	margin: auto
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	padding-bottom: 40px
.contac-nav
	width: 50%
	background: $blanco
	display: inline-block
	box-sizing: border-box
	padding-top: 65px
	position: relative
	margin-top: -255px
	h2
		font-size: 28px
		font-family: $t-1
		color: #58595b
		margin-bottom: 30px
.contac-padding
	padding: 0px 75px
.contact-tex
	font-size: 16px	
	text-align: center
	color: $c-0
.contact-tabs
	margin-top: 45px
	text-align: center
	a
		text-decoration: none
		color: #58595b
		font-size: 16px
		transition: all .3s ease
		padding-bottom: 25px
		border-bottom: 3px solid transparent
		&:hover, &.active
			color: $c-3
			border-bottom: 3px solid $c-3
	a:nth-child(2)
		margin: 0 90px
.contact-envolver-tab
	position: relative
.contc-info	
	padding-bottom: 65px
	padding-top: 65px
	opacity: 0
	visibility: hidden
	position: absolute
	top: 0
	transition: all .6s ease-in-out
	.btn-enlace
		display: none
	&.active
		opacity: 1
		position: relative
		visibility: visible
.contact-itm
	display: block
	margin-bottom: 35px
	text-align: left
	a, p
		color: $c-0
		display: block
		height: 20px
		font-size: 15px
		text-transform: none
		text-decoration: none
		padding-left: 50px
		position: relative
		&:before
			color: $c-3
			font-weight: bold
	&:nth-child(1)
		a:before
			content: '\e90e'
			font-family: $icomoon
			position: absolute
			top: 0
			left: 0
			font-size: 25px
	&:nth-child(2)
		a:before
			content: '\e90b'
			font-family: $icomoon
			position: absolute
			top: 0
			left: 0
			font-size: 18px	
	&:nth-child(3)
		p:before
			content: '\e941'
			font-family: $icomoon
			position: absolute
			top: 0
			left: 0
			font-size: 25px				

.contacredes
	background: #f9f9f9	
	height: 90px
	display: flex
	justify-content: center
	align-items: center
	padding: 0px 75px
	text-align: left
	span
		font-size: 16px
		color: $c-0
	a
		color: $c-0
		font-size: 20px
		text-decoration: none
		border: 0
		background: none
		&:hover
			color: $c-3
.contac-form
	width: 44%
	margin-left: 6%;
	padding-top: 45px
	li
		flex-wrap: wrap
		display: flex
		justify-content: flex-start
.contac-input
	width: 45%	
	margin-bottom: 45px
	+placeholder($c-0,$t-0)
	input, textarea
		font-size: 14px
		color: $c-0
		width: 100%
		height: 40px
		border: none
		border-bottom: 1px solid $c-0
	&:first-child
		margin-right: 10%
.contactextarea
	width: 100%
	margin-right: 0 !important
	textarea
		width: 100%
		height: 100px	
.box-map
	.btn-enlace
		display: none
@media screen and (max-width: 1024px)
	.tabcontacto
		flex-direction: column
	.contac-nav
		width: 100%	
	.contac-form
		width: 100%
		margin-left: 0
	.contac-nav h2
		font-size: 25px	
		text-align: center
	.box-map
		position: fixed !important
		top: 0
		left: 0
		width: 100%
		height: 100% !important
		transition: all .3s linear
		transform: translateY(-300%)
		z-index: 1004
		&.anima-map
			transform: translateY(0)
			
		.btn-enlace
			display: block
			position: absolute
			top: 20px
			right: 20px
			max-width: 300px
			z-index: 9
			color: $blanco !important
			cursor: pointer
	.contc-info	
		padding-top: 50px
		padding-top: 50px
		a.btn-enlace
			display: block
			max-width: 300px
			&:hover
				color: $blanco
	.contac-nav
		margin-top: 15px
	.contac-padding
		padding: 0 30px
	.contactextarea textarea
		height: 50px
	.contac-form
		.btn-productos
			margin: auto
			display: block
@media screen and (max-width: 640px)
	.contac-padding
		padding: 0 20px
	.contact-tabs a:nth-child(2)
		margin: 0 20px
	.contact-tabs a
		padding-bottom: 12px
	.contacredes
		padding: 0px 20px
		height: 50px
		a
			font-size: 15px
	.contac-nav
		padding-top: 30px
	.contac-form
		padding-top: 30px
	.contc-info	
		padding-bottom: 30px
	.tabcontacto
		padding-bottom: 30px