
.home-slider
	.bx-wrapper .bx-pager
		bottom: 40px
		z-index: 99
		max-width: 1120px
		left: 0
		right: 0
		margin: auto
		text-align: left
		padding: 0 15px 
		box-sizing: border-box
		&.bx-default-pager a
			margin: 0 8px
			padding: 0
			width: 10px
			height: 10px
			background: none
			border: 1px solid $blanco
			&.active
				background: $blanco

.homeslider-cnt
	max-width: 1120px
	margin: auto

.home-item
	height: 600px
.prin-slider
	width: 100%
	display: flex
	align-items: center
	height: 100%
	img
		display: block
	h3
		color: $blanco
		margin: 0
		font-weight: normal
		font-family: $t-1
		font-size: 60px
	p 
		display: inline-block
		margin: 25px 0 0 0
		color: $blanco
		font-size: 15px
		position: relative
		max-width: 240px
		line-height: 1.3
		padding: 3px 0 5px 50px
		&:before
			content: "\e90e"
			font-family: icomoon
			position: absolute
			top: 0
			left: 0
			font-size: 40px
	a
		margin-top: 40px
	
.img-slider
	position: relative
	padding-top: 15px

.circle-red-percent
	position: absolute
	top: 0
	right: 0
	width: 80px
	height: 80px
	color: $blanco
	background: $c-3
	border-radius: 100%
	text-align: center
	line-height: 80px
	font-size: 23px
	font-family: $t-1

.bx-wrapper .bx-prev
	background: none 

.home-slider-flechas
	a 
		display: block
		width: 20px
		height: 20px
		line-height: 20px
		position: relative
		background: red
		&:before
			content: ""
			font-family: icomoon
			line-height: 20px

.home-slider-flechas .bx-next:before
	content "\e93e"

.home-slider-flechas .bx-prev:before
	content "\e93f"

// .home-slider-flechas
// 	display: none

.home-slider .bx-pager.home-slider-prev
	display: block

.home-slider .bx-pager.home-slider-next
	display: block

.home-slider-flechas
	position: absolute

.home-slider .bx-wrapper .home-slider-next a, .home-slider .bx-wrapper .home-slider-prev a
	width: 50px !important
	height: 50px !important
	display: inline-block !important
	background: red !important

@media only screen and (max-width: 1024px) and (min-width: 769px)
	.prin-slider h3
		font-size: 50px

@media only screen and (max-width: 768px) and (min-width: 740px)
	.prin-slider h3
		font-size: 40px

@media only screen and (max-width: 740px) and (min-width: 300px)
	.prin-slider h3
		font-size: 35px

@media only screen and (max-width: 767px) and (min-width: 300px)
	.homeslider-cnt
		text-align: center

	.circle-red-percent
		width: 60px
		height: 60px
		line-height: 60px
		font-size: 18px

	.img-slider
		display: none
		max-width: 300px
		margin: auto
		margin-top: 15px

	.prin-slider a
		margin-top: 30px

	.home-item
		height: 450px

// productos
.slide-productos
	background: $c-2
	padding: 35px 0 35px 0
	.slick-slide
		margin: 0 15px 

.slide-productos-cnt
	max-width: 1130px
	margin: auto

.category-home
	max-width: 1200px   
	margin: auto
	padding: 50px 0 0 0
	h3
		text-align: center
		font-size: 30px
		color: $c-1
		margin: 0
		font-weight: normal
		font-family: $t-1
	.container
		border-bottom: 1px solid $c-2
		padding-bottom: 40px

.category-home-prin
	margin: 30px 0 0 0

.item-prin-ctn
	display: flex
	flex-wrap: wrap
	height: 100%

.item-category
	height: 233px
	width: 100%
	position: relative
	overflow: hidden
	&.dos
		height: 488px
		.ctn-item-sub h4
			font-size: 37px
	&:last-child
		align-self: flex-end

.item-category-bg
	height: 100%
	width: 100%
	background-repeat: no-repeat
	background-size: cover
	position: relative
	transition: all 3s
	background-position: center
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		background: linear-gradient(to left, rgba(35,31,32,0) 0%, rgba(35,31,32,.4) 100%)

.ctn-item-sub
	color: $blanco
	font-size: 20px
	position: relative
	z-index: 3
	position: absolute
	bottom: 25px
	padding: 0 25px
	left: 0
	h4
		font-size: 32px
		font-weight: normal
		margin: 0
		font-family: $t-1
	.btn-enlace
		border: 0
		background: none
		color: $blanco
		padding-left: 0
		padding-top: 0
		padding-bottom: 0
		border-radius: 0

.enlace-item-category
	text-align: center
	margin: 35px 0 0 0
	.btn
		width: auto
		padding-left: 13px
		padding-right: 13px

@media only screen and (max-width: 1024px)
	.ctn-item-sub h4
		font-size: 30px

	.item-category.dos .ctn-item-sub h4
		font-size: 30px

@media only screen and (max-width: 767px)
	.category-home h3
		font-size: 25px

	.ctn-item-sub h4
		font-size: 25px

	.item-category.dos .ctn-item-sub h4
		font-size: 25px

.banner-home
	height: 431px
	width: 100%
	background-size: cover
	background-position: center
	margin: 50px 0 0 0
	display: flex
	align-items: center
	h3
		font-size: 35px
		max-width: 340px
		margin: 0 0 40px 0
		font-weight: normal
		font-family: $t-1


@media only screen and (max-width: 1024px)
	.banner-home
		position: relative
		h3 
			position: relative
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: $blanco
			opacity: .6

@media only screen and (max-width: 767px)
	.banner-home
		height: auto
		padding: 80px 0

@media only screen and (max-width: 1024px) and (min-width: 768px)
	.banner-home h3
		font-size: 30px

@media only screen and (max-width: 768px) and (min-width: 300px)
	.banner-home h3
		font-size: 25px

.item-producto-home
	padding: 85px 110px 70px 110px
	padding-left: 5.5%
	box-sizing: border-box
	border-right: 1px solid #e2e3e4
	h3
		// height: 68px
		font-family: $t-1
		font-weight: normal
		font-size: 32px
		color: #58595b
		margin: 25px 0 30px 0
		line-height: 31px
	h4
		margin: 0 0 45px 0
		color: $c-0
		font-weight: normal
	&:last-child
		border-right: 0

@media only screen and (max-width: 1024px) and (min-width: 768px)
	.item-producto-home h3
		font-size: 30px

@media only screen and (max-width: 768px) and (min-width: 300px)
	.item-producto-home h3
		font-size: 25px

@media only screen and (max-width: 767px) and (min-width: 300px)
	.item-producto-home
		border: none
		border-bottom: 1px solid #e2e3e4

	.item-producto-home:last-child
		border-bottom: none

	.item-producto-home h4
		margin-bottom: 30px

@media only screen and (max-width: 767px) and (min-width: 481px)
	.item-producto-home
		padding: 50px

@media only screen and (max-width: 480px) and (min-width: 300px)
	.item-producto-home
		padding: 30px

.slider-clients-home
	width: 100%
	margin: 0
	background: $c-3
	height: auto
	padding: 75px 0 65px 0
	background-repeat: no-repeat
	background-size: cover
	color: $blanco
	text-align: center
	h3
		font-weight: normal
		font-size: 30px
		padding: 0
		font-family: $t-1
		line-height: 30px
		margin: 0
	p 
		margin: 40px 0 0 0
		font-family: $t-2
		font-size: 18px
		line-height: 26px
	.bx-wrapper .bx-controls-direction a
		height: 50px
		width: 50px
		background: none
		border: 1px solid $blanco
		border-radius: 100%
		z-index: 99
		text-indent: 0
		color: $blanco
		opacity: .5
		&:before
			font-family: icomoon
			top: 0
			left: 0
			text-align: center
			line-height: 50px
			font-size: 12px
		&.bx-prev
			&:before
				content: "\e93f"
		&.bx-next
			&:before
				content: "\e93e"
		&:hover
			text-decoration: none

.slider-clients-cnt
	max-width: 1150px
	margin: auto

.item-client-home-ctn
	max-width: 650px
	margin: auto
	width: 100%	

.slider-client-home-item.active
	.item-client-home-ctn
		animation: flash 1s both

.item-client-home
	width: 200px
	margin: 60px auto 0 auto
	h4
		margin: 13px 0
		font-weight: normal
		font-size: 14px
		font-family: $t-2
		text-transform: uppercase
	h5
		margin: 0
		font-weight: normal
		font-size: 13px
	img
		border-radius: 100%
		display: block

@media screen and (max-width: 767px)
	.slider-clients-home .bx-wrapper .bx-controls-direction a
		display: none !important

	.slider-clients-home h3
		font-size: 25px

.ctn-home-redes
	padding: 60px 0 90px 0

.home-redes-cnt
	max-width: 1170px
	margin: auto

.item.redes-home.face
	.item-home-redes-main
		position: relative
		&:before
			z-index: 2
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: linear-gradient(to left, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 100%)

.item-redes-home.info
	display: flex
	align-items: center

.item-redes-home-info-prin
	max-width: 260px
	h4
		font-weight: normal
		margin: 0
		padding: 0
		font-family: $t-1
		font-size: 35px
		color: #58595b
	p 
		color: $c-0
		font-size: 15px
		line-height: 20px
		margin: 6px 0 0 0

.item-home-redes-title
	position: relative
	padding-left: 13px
	box-sizing: border-box
	p 
		position: relative
		padding-left: 45px
		box-sizing: border-box
		font-size: 19px
		margin: 0
		color: #58595b
		padding-top: 2px
		&:before
			position: absolute
			top: 0
			left: 0
			font-family: icomoon
			font-size: 22px
	&.youtube
		p:before
			content: "\e945"
			color: $c-3
	&.face
		p
			padding-left: 27px
			&:before
				content: "\e93d"
				color: #307fe2

.item-home-redes-main
	&.info-main
		.item-home-redes-fig
			justify-content: flex-end

.item-home-redes-fig
	background-repeat: no-repeat
	height: 278px
	width: 100%
	background-size: cover
	background-position: center center
	position: relative
	margin: 15px 0 0 0
	display: flex
	align-items: flex-end
	box-sizing: border-box
	padding: 0 25px 25px 25px

.item-home-redes-info
	max-width: 130px
	h4
		color: $c-3
		font-family: $t-1
		margin: 0
		font-weight: normal
		font-size: 25px

.item-home-redes-count
	margin: 0
	display: flex
	justify-content: center
	width: 100%
	color: $blanco
	li
		padding-left: 35px
		position: relative
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			background-size: 100%
			background-repeat: no-repeat
		&.item-likes
			&:before
				width: 25px
				height: 22px
				background-image: url('../img/ico-like.png')
		&.item-coments
			&:before
				width: 26px
				height: 22px
				background-image: url('../img/ico-comments.png')
		&.item-share
			&:before
				width: 24px
				height: 24px
				background-image: url('../img/ico-share.png')

@media screen and (max-width: 991px)
	.item-redes-home.info
		justify-content: center
		margin-bottom: 40px

	.item-redes-home-info-prin
		max-width: 100%
		text-align: center

	.ctn-home-redes
		padding: 50px 0 50px 0

	.redes-home.youtube
		margin-bottom: 30px

@media only screen and (max-width: 1024px) and (min-width: 768px)
	.item-redes-home-info-prin h4
		font-size: 30px

@media only screen and (max-width: 767px) and (min-width: 300px)
	.ctn-home-redes
		padding: 40px 0

	.item-redes-home-info-prin h4
		font-size: 25px

	.item-home-redes-title p
		font-size: 17px

.list-ctn-detaill
	font-size: 15px
	li
		padding-top: 25px
		padding-bottom: 25px
		border-bottom: 1px dashed #e2e3e4

.list-title-product
	color: $c-1

.list-info-product
	color: $c-0

@media screen and (min-width: 1025px)
	.item-category:hover .item-category-bg
		transform: scale(1.2)

@media screen and (max-width: 767px)
	.item-category
		margin-bottom: 20px
	.item-category.dos
		height: 233px

+keyframes(flash)
	from, 50%, to
		opacity: 1
	25%, 75%
		opacity: 0

.slider-products
	padding-top: 90px
	padding-bottom: 20px

.slider-products-wrap
	max-width: 1200px
	margin: auto
	padding: 0 20px
	text-align: center
	h3 
		font-size: 30px
		font-family: $t-1
		color: $c-1
		margin-bottom: 30px

.slider-products
	.item
		width: 100%
		text-align: center
		position: relative
		box-sizing: border-box
		padding: 35px
		padding-bottom: 100px
		margin: 0
		margin-top: 35px
		&:nth-child(1), &:nth-child(2), &:nth-child(3)
			margin-top: 0
		@media screen and (min-width: 1025px)
			box-shadow: 4px 5px 25px 0px rgba(242,242,242,0)
			transition: all .2s ease
			&:hover	
				box-shadow: 4px 5px 25px 0px rgba(242,242,242,.8)
				.btn-productos
					background-color: $c-3
					color: $blanco
					border-color: $c-3
					.text-btn
						color: $blanco
						opacity: 0
						transition-duration: 0.3s
						animation-name: hvr-icon-drop
						animation-duration: 0.5s
						animation-delay: 0.3s
						animation-fill-mode: forwards
						animation-timing-function: ease-in-out
						animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66)	


	.img
		max-width: 150px
		width: 100%
		margin: auto
		margin-bottom: 10px

	.circle
		display: block
		width: 48px
		height: 48px
		line-height: 48px
		background: $c-3
		color: $blanco
		font-family: $t-1
		font-size: 14px
		text-align: center
		border-radius: 50%
		position: absolute
		top: 35px
		right: 35px
		z-index: 1

	.code
		color: $c-0
		font-family: $t-0
		font-size: 13px
		margin-bottom: 20px

	.title
		color: $c-0
		font-family: $t-1
		font-size: 18px
		margin-bottom: 0
	.btn-abs
		position: absolute
		left: 0
		right: 0
		bottom: 35px
		margin: auto

	.slider-product-cnt
		overflow: hidden
		width: 100%
		ul 
			margin-bottom: 0
			font-size: 0
		li 
			display: inline-block
			width: 25%
			padding: 15px 10px 
			box-sizing: border-box

@media only screen and (max-width: 767px) and (min-width: 300px)
	.slider-products
		padding 40px 0 0 0

	.slider-products .item
		padding: 25px
		padding-bottom: 100px