.msj-enviado
	text-align: center
	padding: 90px 0
	display: flex
	box-sizing: border-box
	justify-content: center
	align-items: center
	h2
		font-size: 160px
		font-weight: normal
		font-family: $t-1
		color: #edeef0
		line-height: 120px
		margin-bottom: 60px
	h3
		font-size: 30px
		color: $negro
		font-weight: normal
		font-family: $t-2
		margin-bottom: 35px
	p
		font-size: 16px	
		color: $c-6
		margin-bottom: 40px

.msj-envolver
	max-width: 800px
	width: 95%
	margin: auto

@media screen and (max-width: 1024px)
	.msj-enviado 
		padding: 50px 0
		h2
			font-size: 60px
			line-height: 1
			margin-bottom: 30px
@media screen and (max-width: 640px)
	.msj-enviado 
		padding: 30px 0