#background_nosotros_section
	background-color: #F9F9F9

.nosotros_section_1
	padding-top: 30px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	.col-xl-5.col-lg-5
		max-width: 25%
		margin-right: 2%
		margin-left: 14%
	.col-xl-7.col-lg-7
		height: 380px

.content_text_nosotros
	padding-top: 30px
	h4
		font-size: 28px
		font-family: 'ProximaNova-Bold'
		padding-bottom: 30px
		color: #58595B
	p
		font-size: 14px
		font-family: 'ProximaNova-Regular'
		text-align: justify
		color: #858789

.imagen_nosotros
	background-image: url(../img/img_nosotros.png)
	width: 100%
	height: 100%
	background-size: cover
	background-repeat: no-repeat
	background-position: top center

// sección misión y visión
.nosotros_frase_valores
	.col-xl-5.col-lg-5
		max-width: 25%
		position: relative
		top: -40px
		margin-left: 14%
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start

.content_frase_valores
	background-color: #58595B
	height: auto
	flex-direction: column
	padding: 34% 10%
	&:before
		content: ""
		background-image: url(../img/fondo_texto_nosotros.png)
		background-repeat: no-repeat
		background-size: 100% 100%
		position: absolute
		top: 0
		right: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 999

.text_frase_valores
	color: #ffffff
	font-size: 28px
	font-family: 'ProximaNova-Bold'
	line-height: 1

.text_mision_vision
	padding-bottom: 30px

.content_text_mision_vision
	max-width: 750px
	padding: 10% 8% 0% 8%

.section_mision_vision .text_mision_vision
	h4
		font-size: 28px
		font-family: 'ProximaNova-Bold'
		color: #58595B
	p
		font-size: 14px
		font-family: 'ProximaNova-Regular'
		text-align: justify
		color: #858789

.nosotros_icons
	width: 100%
	max-width: 1200px
	margin: auto
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	padding-bottom: 56px
	.col-xl-4.col-lg-4
		padding: 0 4%

.content_nosotros_icons
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	padding-top: 70px

.nosotros_icons_img
	width: 53px
	img
		display: block
		height: auto
		width: 100%

.text_icons_nosotros
	text-align: justify
	padding-left: 30px
	width: calc(100% - 53px)
	box-sizing: border-box

.content_nosotros_icons .text_icons_nosotros
	p
		font-family: 'ProximaNova-Bold'
		font-size: 18px
		margin-bottom: 0
		color: #58595B
	span
		font-size: 14px
		font-family: 'ProximaNova-Regular'
		text-align: justify
		color: #858789


@media only screen and (max-width: 1366px)
	.nosotros_section_1 .col-xl-5.col-lg-5
		max-width: initial
		margin-right: 0
		margin-left: 0
	.nosotros_frase_valores .col-xl-5.col-lg-5
		max-width: initial
		margin-left: 0
	.nosotros_icons .col-xl-4.col-lg-4
		padding: 0 2%

@media only screen and (max-width: 1024px)
	.nosotros_icons_img
		width: 40px
	.text_icons_nosotros
		padding-left: 20px
		width: calc(100% - 40px)

@media only screen and (max-width: 991px)
	.nosotros_section_1
		padding-top: 10px
	.section_mision_vision
		padding-top: 50px
		padding-bottom: 50px
	.nosotros_frase_valores .col-xl-5.col-lg-5
		top: 0px
	.nosotros_icons .col-xl-4.col-lg-4
		padding: 0 5%

@media only screen and (max-width: 767px)	
	.content_frase_valores
		padding: 10% 10%
	.text_frase_valores
		text-align: center
	.content_frase_valores:before
		display: none

@media only screen and (max-width: 640px)
	.nosotros_section_1 .col-xl-7.col-lg-7
		height: 300px
	.text_frase_valores
		font-size: 25px

@media only screen and (max-width: 480px)
	.nosotros_section_1 .col-xl-7.col-lg-7
		height: 240px