.nuestras-categorias
	padding-top: 5px
	padding-bottom: 70px

.categorias_img
	padding-top: 30px

.categorias_text_img
	position: absolute
	bottom: 0
	padding: 30px
	p
		font-size: 32px
		font-family: 'ProximaNova-Bold'
		color: #ffffff
		margin-bottom: 0px
	span
		font-size: 13px
		font-family: 'ProximaNova-Regular'
		color: #ffffff
		text-transform: uppercase

.categorias_img
	img
		width: 100%
		height: 100%
		background-color: rgba(0, 0, 0, 0.8)
		filter: brightness(0.7)

.text_ver_catalogo
	padding: 0px 50px 0px 0px
	color: #ffffff !important
	cursor: pointer

@media screen and (min-width: 767px) and (max-width: 1024px)
	.nuestras-categorias
		padding: 15px
		padding-bottom: 50px

@media screen and (min-width: 1px) and (max-width: 767px)
	.nuestras-categorias
		padding: 0
		padding-bottom: 30px