.promotions
	padding-top: 20px

.promotions__content
	max-width: 1150px
	width: 95%
	margin: auto

.promotions__items
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start

.promotions__item
	width: calc(50% - 15px)
	margin-bottom: 30px
	&:nth-child(odd)
		margin-right: 30px

.promotions__img
	display: block
	img
		display: block	
		width: 100%
		height: auto

.promotions__form__social
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	background: #f9f9f9
	margin-top: 50px

.promotions__form, .promotions__social
	width: 50%
	box-sizing: border-box

.promotions__form
	border-right: 1px solid $c-4
	padding-top: 50px
	padding-bottom: 50px

.promotions__form__group
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center

.promotions__form__text, .promotions__social__text
	line-height: 1.1
	color: $c-1
	font-family: $t-0
	font-size: 18px
	strong
		display: block	
		font-family: $t-1
		font-weight: normal
	p
		margin-bottom: 0

.promotions__form__text
	width: 225px

.promotion__form__wrap
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	width: 373px

.promotion__form__campo
	width: calc(100% - 145px)
	input
		width: 100%
		height: 45px
		background: $blanco
		color: $c-4
		font-family: $t-1
		font-size: 11px
		border: none
		border-radius: 25px 0px 0px 25px
		box-sizing: border-box
		padding-left: 30px

.promotion__form__button
	width: 145px
	font-size: 0
	button
		width: 145px
		height: 45px
		line-height: 47px
		text-align: left
		border: none
		border-radius: 0 25px 25px 0
		padding-top: 0
		padding-left: 23px
		padding-right: 0
		padding-bottom: 0

.promotions__social
	display: flex
	align-items: center		

.promotions__social__wrap
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	max-width: 590px
	width: 100%
	margin: auto

.promotions__social__text
	width: calc(100% - 148px)

// responsive
@media screen and (max-width: 1300px)
	.promotions__form, .promotions__social
		padding: 30px 10px
	.promotions__form__group, .promotions__social__wrap
		flex-direction: column
	.promotions__form__text, .promotions__social__text
		width: 100%
		text-align: center
		margin-bottom: 15px
	.promotion__form__wrap
		max-width: 373px
		width: 100%

@media screen and (max-width: 1024px)
	.promotions
		padding-top: 50px

	.promotions__form__social
		margin-top: 25px

@media screen and (max-width: 960px)
	.promotions__form__text, .promotions__social__text
		font-size: 16px

@media screen and (max-width: 767px)
	.promotions
		padding-top: 30px
	.promotions__item
		width: calc(50% - 7.5px)
		margin-bottom: 15px
		&:nth-child(odd)
			margin-right: 15px
	.promotions__form
		border-right: none
		border-bottom: 1px solid $c-4
	.promotions__form__social
		flex-direction: column
	.promotions__form, .promotions__social
		width: 100%

@media screen and (max-width: 480px)
	.promotions__items
		flex-direction: column
	.promotions__item
		width: 100%
		&:nth-child(odd)
			margin-right: 0