.Price_list
	padding: 70px 0px
	.mainlist 
		text-align: left
		max-width: 1200px
		width: 95%	
		margin: auto
	.envolvermain
		width: 100%
		display: flex
		flex-wrap: wrap

	.list-itm
		width: 25%
		min-height: 280px
		height: 100%
		border-bottom: 1px solid #ccc
		border-right: 1px solid #ccc
		position: relative
		display: flex
		align-items: center
		justify-content: center
		overflow: hidden
		h3
			font-size: 25px
			font-family: $t-2
			margin-bottom: 35px
		a
			position: absolute
			bottom: 0;
			left: 0;
			width: 100%;
			background: $c-3
			color: $blanco
			text-align: center
			font-size: 13px
			height: 50px
			line-height: 50px
			text-decoration: none
			display: flex
			align-items: center
			justify-content: center
			@media screen and (min-width: 1024px)
				opacity: 0
				transform: translateY(50px)
				transition: all .35s
			span
				margin: 0 5px
			
		&:nth-child(1), 	
		&:nth-child(2), 	
		&:nth-child(3),
		&:nth-child(4) 
			border-top: 1px solid #ccc	
		&:nth-child(1n+1)
			border-left: 1px solid #ccc
		&:hover
			a
				transform: translateY(0px)
				opacity: 1

@media screen and (max-width: 960px)
	.Price_list .list-itm
		width: 33.3333333%

@media screen and (max-width: 640px)
	.Price_list .list-itm
		width: 50%
	.Price_list
		padding: 30px 0	

@media screen and (max-width: 480px)
	.Price_list .list-itm
		width: 100% !important
