.overflow-hidden
	overflow: hidden

.search__title
	max-width: 1200px
	width: 95%
	line-height: 1.2
	color: $c-1
	font-family: $t-0
	font-size: 18px
	text-align: center
	border-bottom: 1px solid $c-2
	padding: 50px 0
	margin: auto
	h2
		color: $c-1
		font-family: $t-1
		font-weight: normal
		font-size: 24px
		margin-bottom: 0
	strong
		font-family: $t-1
		font-weight: normal
	p
		margin-bottom: 0

.products
	.btn-productos
		width: auto
		padding-left: 25px
		padding-right: 25px
	a:focus
		outline: inherit
	a:hover
		text-decoration: none
	img
		display: block	
		width: 100%
		height: auto
	.main
		padding-top: 10px
		padding-bottom: 85px
	.content
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		max-width: 1200px
		width: 95%
		margin: auto
	.boxleft
		width: 310px
		background: $blanco
	.filter-head-resp
		display: none		
	.list
		padding-right: 35px
	.list-item
		&.active
			.list-title		
				&:before
					opacity: 0
					visibility: hidden
					transform: scale(0)
				&:after
					opacity: 1
					visibility: visible
					transform: scale(1)		
	.list-title
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
		width: 100%
		height: 65px
		line-height: 1
		color: $c-1
		font-family: $t-1
		font-size: 16px
		border-bottom: 1px solid $c-2
		position: relative
		box-sizing: border-box
		padding-left: 15px
		padding-right: 35px
		&:before, &:after
			content: "\e946"
			display: block
			width: 30px
			height: 30px
			line-height: 30px		
			color: $c-1
			font-family: $icomoon
			font-size: 14px
			text-align: center
			transition: all .2s ease-in-out
			position: absolute
			top: 50%
			right: 0
			margin-top: -15px
		&:before
			opacity: 1
			visibility: visible
			transform: scale(1)
		&:after
			content: "\e947"
			font-size: 2px
			opacity: 0
			visibility: hidden
			transform: scale(0)

		@media screen and (min-width: 1025px)
			&:hover
				text-decoration: none
				&:before
					opacity: 0
					visibility: hidden
					transform: scale(0)
				&:after
					opacity: 1
					visibility: visible
					transform: scale(1)
	.list-textarea
		display: none		
	.content-links
		padding: 20px 0
	.link-item
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0
		&.active
			.link
				text-decoration: none
			.icono-link-normal
				opacity: 0
				visibility: hidden
				position: absolute
				top: 0
				left: 0
				z-index: -1
			.icono-link-hover
				opacity: 1
				visibility: visible
				position: relative
				z-index: 1
			.text-link
				color: $c-1
		@media screen and (min-width: 1025px)
			&:hover
				.link
					text-decoration: none
				.icono-link-normal
					opacity: 0
					visibility: hidden
					position: absolute
					top: 0
					left: 0
					z-index: -1
				.icono-link-hover
					opacity: 1
					visibility: visible
					position: relative
					z-index: 1
				.text-link
					color: $c-1
	.link
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
	.icono-link
		width: 30px
		position: relative
		margin: 0
	.icono-link-normal
		opacity: 1
		visibility: visible
		position: relative
		z-index: 1
		transition: all .2s ease-in-out
	.icono-link-hover
		opacity: 0
		visibility: hidden
		position: absolute
		top: 0
		left: 0
		z-index: -1
		transition: all .2s ease-in-out		
	.text-link
		display: block	
		width: calc(100% - 30px)
		line-height: 1
		color: $c-0
		font-family: $t-1
		font-size: 16px
		box-sizing: border-box
		transition: all .2s ease-in-out		
		padding-left: 15px
		margin: 0
	.content-fields
		padding: 20px 0
		padding-left: 15px
	.field-item
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0
		input[type="checkbox"]
			display: none
			&:checked + label
				color: $c-1
			&:checked + label:before
				border: 1px solid $c-3
			&:checked + label:after
				opacity: 1
				visibility: visible		
	.field-text
		display: block
		min-height: 16px
		line-height: 1	
		color: $c-0
		font-family: $t-0
		font-size: 16px
		position: relative
		padding-left: 30px
		&:before
			content: ""
			display: block
			width: 16px
			height: 16px
			border-radius: 3px
			border: 1px solid $c-0
			position: absolute
			top: 50%
			left: 0
			margin-top: -8px
		&:after
			content: "\e948"
			display: block
			width: 16px
			height: 16px
			line-height: 16px
			color: $c-3
			font-family: $icomoon
			font-size: 10px
			text-align: center
			opacity: 0
			visibility: hidden			
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			transition: all .2s ease-in-out
	.boxright
		width: calc(100% - 310px)
		background: $blanco
	.filter-content
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
		height: 65px
		border-bottom: 1px solid $c-2
		box-sizing: border-box
		padding-left: 20px
	.filter-item
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
		margin-left: 65px
		&:nth-child(1)
			margin-left: 0
	.filter-text
		display: block
		line-height: 1
		color: $c-0
		font-family: $t-1
		font-size: 16px
		margin: 0
		margin-right: 10px
	.filter-select
		position: relative
		&:after
			content: "\e93e"
			display: inline-block			
			line-height: 16px
			color: $c-0
			font-family: $icomoon
			font-weight: bold
			font-size: 10px
			position: absolute
			top: 0
			right: 0
			transform: rotate(90deg)
		select
			display: block		
			line-height: 1
			background: none
			color: $c-0
			font-family: $t-0
			font-size: 16px
			border: none
			position: relative
			z-index: 1
			appearance: none
			padding-right: 20px
		select::-ms-expand
			display: none
	.filter-btn-resp
		display: none
	.items
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		padding-top: 35px
		padding-left: 25px
		padding-right: 25px
	.item
		width: 33.33%
		text-align: center
		position: relative
		box-sizing: border-box
		padding: 35px
		padding-bottom: 100px
		margin: 0
		margin-top: 35px
		&:nth-child(1), &:nth-child(2), &:nth-child(3)
			margin-top: 0
		@media screen and (min-width: 1025px)
			box-shadow: 4px 5px 25px 0px rgba(242,242,242,0)
			transition: all .2s ease
			&:hover	
				box-shadow: 4px 5px 25px 0px rgba(242,242,242,.8)
				.btn-productos
					background-color: $c-3
					color: $blanco
					border-color: $c-3
					.text-btn
						color: $blanco
						opacity: 0
						transition-duration: 0.3s
						animation-name: hvr-icon-drop
						animation-duration: 0.5s
						animation-delay: 0.3s
						animation-fill-mode: forwards
						animation-timing-function: ease-in-out
						animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66)	
	.img
		max-width: 150px
		width: 100%
		margin: auto
		margin-bottom: 10px
	.circle
		display: block
		width: 48px
		height: 48px
		line-height: 48px
		background: $c-3
		color: $blanco
		font-family: $t-1
		font-size: 14px
		text-align: center
		border-radius: 50%
		position: absolute
		top: 35px
		right: 35px
		z-index: 1
	.code
		color: $c-0
		font-family: $t-0
		font-size: 13px
		margin-bottom: 20px
	.title
		color: $c-0
		font-family: $t-1
		font-size: 18px
		margin-bottom: 0
	.btn-abs
		position: absolute
		left: 0
		right: 0
		bottom: 35px
		margin: auto
	.pager
		margin-top: 65px
		ul
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: center
			align-items: center
		li
			color: $c-0
			font-family: $t-0
			font-size: 16px
			margin: 0 5px
			margin-top: 10px
		a
			display: block		
			width: 21px
			height: 21px
			line-height: 21px
			background: transparent
			color: $c-0
			text-align: center
			text-decoration: none
			&.active
				background: $c-2
				color: $c-1
			@media screen and (min-width: 1025px)
				transition: all .2s ease
				&:hover
					background: $c-2
					color: $c-1
		.prev, .next
			display: block
			color: $c-1
			font-size: 8px

// responsive
@media screen and (max-width: 1200px)
	.products
		.item
			width: 50%
			&:nth-child(3)
				margin-top: 35px

@media screen and (max-width: 1024px)
	.products
		.main
			padding-bottom: 50px
		.pager
			margin-top: 30px

@media screen and (max-width: 960px)
	.products
		.btn-productos
			padding-left: 20px
			padding-right: 20px	
		.main
			padding-top: 0
		.boxleft
			width: 250px
		.boxright
			width: calc(100% - 250px)
		.items
			padding: 0
			padding-top: 30px			

@media screen and (max-width: 767px)
	.search__title
		font-size: 16px
		border-bottom: none
		padding-top: 50px
		padding-bottom: 30px
		h2
			font-size: 20px
			
	.products
		.main
			padding-bottom: 30px
		.boxleft.boxleft-mobile
			width: 100% !important
			height: 100%
			overflow: hidden			
			background: $blanco
			opacity: 0
			visibility: hidden			
			position: fixed
			top: 0
			left: 0
			z-index: -1
			overflow-y: auto
			.filter-head-resp
				display: flex
				flex-direction: row
				flex-wrap: wrap
				justify-content: flex-start
				align-items: center
				height: 70px
				background: $blanco
				position: relative
				z-index: 2
				border-bottom: 1px solid $c-2
				box-sizing: border-box
				padding: 0 10px
				margin: auto
			.filter-title-resp
				display: block
				width: calc(100% - 40px)
				line-height: 1
				color: $c-1
				font-family: $t-1
				font-size: 22px
				margin: 0
			.filter-close
				display: block
				width: 40px
				height: 40px
				line-height: 40px
				color: $c-1
				font-size: 20px
				text-align: center
				cursor: pointer
				transform: rotate(45deg)
				position: relative
				top: -1px
				margin: 0
			.list
				box-sizing: border-box
				padding-right: 0
				margin: auto
				&:before
					content: ""
					width: 1px
					height: 100%
					background: $c-2
					position: absolute
					top: 0
					right: 55%
			.list-item
				&:first-child
					.list-title
						padding-top: 50px
				&.active
					.list-title
						color: $c-1
					.list-textarea
						opacity: 1
						visibility: visible
						right: 0
						z-index: 1
			.list-title
				width: 45%
				height: auto
				color: $c-0
				padding-top: 15px
				padding-left: 10px
				padding-bottom: 15px
				margin: 0
				border-bottom: none
				&:before, &:after
					display: none					
			.list-textarea
				display: block
				width: 55%
				height: 100%
				opacity: 0
				background: blanco
				visibility: hidden
				transition: all .4s ease-in-out				
				position: absolute
				top: 0
				right: -50px
				z-index: -1
				box-sizing: border-box
				padding: 0
				padding-top: 110px
				padding-left: 30px
				padding-right: 10px
				li:last-child
					padding-bottom: 30px
		.boxleft-mobile.active
			opacity: 1
			visibility: visible
			z-index: 1000		
		.filter-content
			height: 50px
			justify-content: center
			padding-left: 0
		.filter-item
			margin-right: 30px
		.filter-text
			text-transform: uppercase
			padding-right: 15px
			margin-right: 0
		.filter-select
			select
				height: 50px
				border: 1px solid $c-2
				padding-left: 10px
				box-sizing: border-box
				padding-right: 50px
			&:after
				top: 17px
				right: 17px
		.filter-box2
			display: none
		.filter-btn-resp
			display: block
			width: 50px
			height: 50px
			line-height: 50px
			background: $c-1
			text-align: center
			cursor: pointer
			margin: 0
			&:before
				color: $blanco

		.item
			padding: 30px
			padding-bottom: 94px
			margin-top: 30px
		.title
			font-size: 16px
		.circle
			top: 30px
			right: 30px
		.btn-abs
			bottom: 30px	

@media (min-width: 481px) and (max-width: 767px)
	.products
		.boxright
			width: 100%	
		.item
			width: 50%
			&:nth-child(3)
				margin-top: 30px	

@media (min-width: 1px) and (max-width: 480px)
	.products
		.boxleft.boxleft-mobile
			.list
				&:before
					right: calc(100% - 130px)
			.list-title
				width: 130px
				font-size: 14px
				padding-right: 10px
			.list-textarea
				width: calc(100% - 130px)
				padding-left: 10px
			.icono-link
				width: 20px
			.text-link
				width: calc(100% - 20px)
				font-size: 14px
		.boxright
			width: 100%
		.filter-content
			justify-content: flex-start
		.filter-item
			width: calc(100% - 60px)
			margin-right: 10px
		.filter-text
			font-size: 14px
		.filter-select
			width: calc(100% - 115px)
			select
				width: 100%
				font-size: 14px
		.item
			max-width: 260px
			width: 100%
			margin-left: auto
			margin-right: auto
			&:nth-child(2), &:nth-child(3)
				margin-top: 30px

// +++ FANCY PRODUCTO +++
.fancy__product
	&.active
		.fancy__prouct__overlay
			opacity: .7
			visibility: visible
			z-index: 1200
		.fancy__product__block
			transform: translateX(0)
			opacity: 1
			visibility: visible
			z-index: 1400
.fancy__prouct__overlay
	display: block	
	width: 100%
	height: 100%
	background: $negro
	position: fixed
	top: 0
	right: 0
	z-index: -1
	opacity: 0
	visibility: hidden
	transition: height .2s ease
.fancy__product__block
	display: flex
	flex-direction: column
	justify-content: flex-end
	max-width: 840px
	width: 100%
	max-height: 700px
	height: 100%
	background: $blanco
	position: fixed
	top: 0
	right: 0
	z-index: -1
	transform: translateX(50px)
	opacity: 0
	visibility: hidden
	transition: transform .2s ease
	box-sizing: border-box
	padding-top: 45px
	padding-bottom: 45px
	margin: auto
.fancy__product__content
	max-width: 680px
	width: 100%
	overflow: auto
	padding: 0 95px
	margin: 0
	margin-left: 0
	margin-right: auto
.fancy__product__close
	display: block
	width: 40px
	height: 40px
	line-height: 40px
	color: $c-1	
	font-size: 24px
	text-align: center
	transform: rotate(135deg)
	cursor: pointer
	margin-left: auto
	margin-right: 0
	margin-bottom: 10px
.fancy__product__title
	color $c-0
	font-family: $t-0
	font-size: 16px
	margin-bottom: 60px
	h2
		color: $c-1
		font-family: $t-1
		font-size: 35px
		margin-bottom: 10px
	p
		margin-bottom: 0
.fancy__product__form
	li
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between
.fancy__product__countryside
	width: calc(50% - 17.5px)
	box-sizing: border-box
	margin-bottom: 45px
	+placeholder($c-0,$t-0)
	input, textarea
		width: 100%
		height: 40px
		color: $c-0
		font-family: $t-0
		font-size: 14px
		border: none
		border-bottom: 1px solid $c-0
		box-sizing: border-box
		padding: 0 10px
	textarea
		height: 100px
.fancy__product__countryside__textarea
	width: 100% !important

@media screen and (max-width: 767px)
	.fancy__product__block
		justify-content: center
		max-width: none
		max-height: none
		padding: 30px 15px
	.fancy__product__content
		max-width: none
		padding: 0 15px
	.fancy__product__title
		font-size: 15px
		h2
			font-size: 20px

@media screen and (max-width: 480px)
	.fancy__product__title
		margin-bottom: 35px
	.fancy__product__form 
		li
			flex-direction: column
	.fancy__product__countryside
		width: 100%

// END