.nav-producto-detalle
	padding-top: 30px
	padding-bottom: 65px
	ul
		display: flex
		margin: 0
		max-width: 1240px
		margin: auto
		padding: 0 15px
		box-sizing: border-box
	li 
		font-size: 14px
		margin: 0
		margin-right: 15px
		padding-right: 22px
		position: relative
		&:before
			content: "\e93e"
			position: absolute
			top: 5px
			right: 0
			font-family: icomoon
			font-size: 8px
		&:last-child
			margin: 0
			&:before
				display: none
	a 
		color: $c-0
		&.active
			color: $c-1
.ctn-product-detaill
	margin: 50px 0 0 0
.thumbs-img
	li
		border: 1px solid $c-2
		margin: 0 0 20px 0
		cursor: pointer
	img
		display: block
	a 
		width: 100%
		height: 100%
		display: block
.detaill-info
	h3
		font-weight: normal
		margin: 0
		padding: 0
		font-size: 13px
		color: $c-0
	h4
		font-size: 28px
		color: #58595b
		font-family: $t-1
		font-weight: normal
		margin: 14px 0 25px 0
.list-country
	span
		display: inline-block
		position: relative
		color: $c-0
		font-size: 14px
		box-sizing: border-box
		background-repeat: no-repeat
		width: auto !important
		height: auto !important
		background-position: 0
		&:first-child
			padding-left: 30px
			padding-right: 18px
			margin-right: 15px
			&:before
				content: "|"
				position: absolute
				top: 0
				right: 0
.list-detaills-info
	margin: 28px 0 0 0
	color: $c-0
	font-size: 14px
	li
		margin: 0 0 10px 0
		position: relative
		padding-left: 15px
		&:last-child
			margin: 0
		&:before
			content: ""
			position: absolute
			top: 9px
			left: 0
			width: 5px
			height: 5px
			background: $c-0
			border-radius: 100%
.ctn-img-caracteristcs
	display: flex
	flex-wrap: wrap
	margin-top: 30px
	figure
		margin-left: 0
		margin-right: 30px
		&:last-child
			margin-right 0
.btn-detaills
	margin: 20px 0 0 0
	display: flex
	flex-wrap: wrap
	a
		margin: 0 20px 0 0
		margin-bottom: 10px
		&:last-child
			margin: 0
.ctn-share-detaills
	margin: 30px 0 0 0
	display: flex
	flex-wrap: wrap
	padding-bottom: 65px
	align-items: center
	li
		margin: 0 20px 0 0
		color: #58595b
		font-family:  $t-1
	a
		width: 35px
		height: 35px
		border: 1px solid $c-4
		color: $c-4
		display: block
		line-height: 35px
		text-align: center
		font-size: 13px
		transition: all .4s ease-in-out
		padding-top: 0
		&:hover
			text-decoration: none
.ctn-tab-products
	background: #f9f9f9
	padding: 35px 0 60px 0
	box-sizing: border-box
.nav-tab
	display: flex
	flex-wrap: wrap
	margin: 0
	justify-content: center
	border-bottom: 1px solid $c-2
	li
		margin: 0
		font-size: 18px
	a
		display: block
		padding: 0 45px 20px 45px
		border-bottom: 1px solid $c-2
		color: $c-0
		transition: all .3s ease-in-out
		&:hover
			text-decoration: none
		&.active
			border-color: $c-3
		color: $c-1

.ctn-tabs
	margin: 0 !important
	overflow: inherit !important
	position: relative
	height: auto !important
	.row
		align-items: center

.tab-detaill-info
	h3
		color: #58595b
		font-size: 28px
		font-family: $t-1
		position: relative
		margin: 0 0 25px 0
		padding-left: 55px
		max-width: 400px
		&:before
			position: absolute
			top: 4px
			left: 0
			content: "\e90e"
			font-family: icomoon
			font-size: 47px
	p 
		margin: 0
		color: $c-0
		font-size: 14px
		line-height: 22px
		text-align: justify
.tab-detaill-img
	img
		display: block
.ctn-tab-prin-detaill
	position: absolute
	top: 0
	left: 0
	right: 0
	margin: auto
	opacity: 0
	visibility: hidden
	transition: all .3s ease-in-out
	&.active
		opacity: 1
		visibility: visible
		position: relative
.list-ctn-desc
	a 
		color: $c-1
		font-family: $t-0
		font-size: 18px
		padding-left: 45px
		display: block
		position: relative
		padding-top: 5px
		&:before
			position: absolute
			top: 0
			left: 0
			content: ''
			background: url('../img/desc.png') no-repeat
			width: 32px
			height: 40px
@media screen and (min-width: 1025px)
	.ctn-share-detaills a:hover
		background: $c-4
		color: $blanco
	.nav-tab a:hover
		border-color: $c-3
		color: $c-1


.slider-line-top
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 30px
	h3 
		margin-bottom: 0

.g-item-slider-cnt-arrows
	display: flex
	align-items: center
	cursor: pointer

.g-arrow-item-prev, .g-arrow-item-next
	padding: 10px 
	box-sizing: border-box
	cursor: pointer

@media screen and (max-width: 767px)
	.g-item-slider-cnt-arrows
		display: none


.tab__carrousel_container
	max-width: 1240px
	margin: auto
	font-size: 0
	display: flex
	flex-wrap: wrap
	padding: 0 20px
	box-sizing: border-box

.tab__carrousel__left
	display: inline-block
	vertical-align: top
	width: 600px

.tab__carrousel__right
	width: calc(100% - 600px)
	padding-left: 30px
	padding-top: 20px
	box-sizing: border-box

.tab__carrousel__wrap.tab__carrousel--vertical
	display: flex
	flex-direction: row-reverse
	.tab__carrousel__image__big__wrap
		width: 86%
	.tab__carrousel__items__wrap
		width: 14%

	.tab__carrousel__items__list
		text-align: center
	.tab__carrousel__items__item
		display: block
		margin: 0
		padding: 7px 0
		box-sizing: border-box
	.tab__carrousel__items__wrap 
		margin: 0
		box-sizing: border-box
	.slick-slider
		margin: 0
		width: 100%
	.slick-prev
		top: inherit
		bottom: 0
		margin: 0
		left: 0
		right: 0
		margin: auto
	.slick-next
		top: 0
		margin: 0
		left: 0
		right: 0
		margin: auto

.tab__carrousel__wrap.tab__carrousel--vertical .tab__carrousel__items__wrap
	&.tab__carrousel--js--on
		display: flex
		align-items: center
		
.tab__carrousel__wrap
	width: 100%
	.slick-slider
		height: 100%
		margin-bottom: 0
		position: inherit !important
		display: flex
		align-items: center
	.tab__carrousel__image__big__wrap
		padding-left: 30px
		box-sizing: border-box
	.tab__carrousel__items__wrap
		padding: 0
	.slick-prev, .slick-next
		position: absolute
		top: 50%
		margin-top: -20px
		width: 25px
		height: 25px
		line-height: 25px
		text-align: center
		background: transparent
		border: none
		border-radius: 100%
		padding: 0
		overflow: hidden
		font-size: 0
		transition: all .25s linear
		transform: inherit
		&:before
			display: block
			font-family: icomoon
			font-size: 16px
			font-weight: normal
			color: $c-1
			line-height: 25px 
			text-align: center
			transition: all .25s linear
		&:hover  
			&:before 
				color: $c-4
	.slick-prev
		left: 0
		&:before
			content: "\e93e"
			transform: rotate(90deg)
	.slick-next
		right: 0
		&:before
			content: "\e93e"
			transform: rotate(-90deg)

.product-Tab
	width: 100%
	position: relative
	margin: auto
	
.tab__carrousel__items__wrap
	position: relative	
	overflow: hidden
	margin-top: 25px	
	padding: 0 60px 
	box-sizing: border-box	
	.slick-list
		overflow: hidden	
		
.tab__carrousel__items__item
	display: inline-block	
	cursor: pointer
	box-sizing: border-box
	margin: 0 10px 
	border: none
	box-sizing: border-box
	img
		img-res()
	&.active
		.tab__carrousel__items__item-img
			border: 1px solid $c-4

.tab__carrousel__items__item-img
	border: 1px solid $c-2
	img 
		display: block
		width: 100%
		height: auto
	
.tab__carrousel__image__big__wrap
	width: 100%

.tab__carrousel__image__big
	width: 100%
	height: auto
	position: absolute
	top: 0
	left: 0
	z-index: -1
	visibility: hidden
	box-sizing: border-box
	border: 1px solid $c-2
	img
		display: block
		width: 100%
		height: auto
	&.active
		position: relative
		z-index: 1
		visibility: visible

@media only screen and (max-width: 1100px) and (min-width: 961px)
	.tab__carrousel__wrap .tab__carrousel__image__big__wrap
		padding-left: 20px

	.tab__carrousel__wrap.tab__carrousel--vertical .tab__carrousel__items__item
		padding: 7px 0

	.tab__carrousel__left
		width: 60%

	.tab__carrousel__right
		width: 40%

@media only screen and (max-width: 960px) and (min-width: 300px)
	.tab__carrousel__left
		width: 100%
		display: block

	.tab__carrousel__right
		width: 100%
		display: block
		padding-left: 0
	
	.tab__carrousel__wrap .tab__carrousel__image__big__wrap
		padding-left: 0

	.tab__carrousel_container
		padding: 0 15px

	.tab__carrousel__wrap.tab__carrousel--vertical
		display: block

	.tab__carrousel__wrap.tab__carrousel--vertical .tab__carrousel__image__big__wrap
		width: 100%

	.tab__carrousel__wrap.tab__carrousel--vertical .tab__carrousel__items__wrap
		width: 100%

	.tab__carrousel__wrap.tab__carrousel--vertical .tab__carrousel__items__item
		width: 25%
		padding: 0 1%
		display: inline-block
		vertical-align: top
		margin: 0 

	.tab__carrousel__wrap.tab__carrousel--vertical .tab__carrousel__items__wrap
		margin-top: 20px


	.tab__carrousel__wrap .slick-prev, .tab__carrousel__wrap .slick-next
		display: none !important

.cnt-tabs-container
	max-width: 1165px
	margin: auto
	padding: 50px 0


@media only screen and (max-width: 767px) and (min-width: 300px)
	.nav-tab
		display: block
		border: none

	.nav-tab li
		text-align: center

	.nav-tab a
		padding: 15px 30px

	.cnt-tabs-container
		padding: 40px 0

	.ctn-tab-products
		padding-bottom: 20px

	.tab-prin-detail-item
		margin-bottom: 20px

@media only screen and (max-width: 1500px) and (min-width: 1025px)
	.nav-producto-detalle
		margin-top: 42px

@media only screen and (max-width: 1024px) and (min-width: 300px)
	.nav-producto-detalle
		display: none

@media only screen and (max-width: 1024px) and (min-width: 300px)
	.tab__carrousel
		padding-top: 50px

