.container-fluid.ctn-map-soport
    padding: 0
    a:hover
        text-decoration: none
.sopor-map
    height: 950px
    .btn-enlace
        display: none
.sopor-info-header
    padding: 110px 70px 0 70px
    box-sizing: border-box
    form
        margin: 30px 0 0 0
    +placeholder($c-4,$t-1)
    h3
        font-weight: normal
        margin: 0
        font-family: $t-1
        font-size: 36px
        color: #58595b
        line-height: 32px
    p 
        margin: 0
        position: relative
        &:before
            content: "\e902"
            position: absolute
            top: 0
            right: 10px
            font-family: icomoon
            color: $c-3
            font-size: 18px
    input
        width: 100%
        color: $c-4
        height: 25px
        border: 0
        font-size: 19px
        border-bottom: 1px solid $c-4
        padding: 10px 10px 20px 10px
        box-sizing: border-box
        font-family: $t-0
.tab-sopor
    margin: 50px 0 0 0
    padding: 0 70px
    ul
        display: flex
        justify-content: space-between
    li
        margin: 0
        text-transform: uppercase
        font-size: 15px
        font-family: $t-0
    a
        display: block
        padding: 0 10px 25px 10px
        color: #58595b
        transition: all .3s ease-in-out
        &.active
            color: $c-3
            border-bottom: 1px solid $c-3
        &:hover
            text-decoration: none
.ctn-tabs
    margin: 0
    height: 610px
    overflow: auto
    position: relative
.ctn-tab-prin
    position: absolute
    top: 0
    left: 0
    opacity: 0
    visibility: hidden
    transition: all .3s ease-in-out
    &.active
        position: relative
        opacity: 1
        visibility: visible
.tab-item-sopor
    padding: 50px 70px
    background: #f9f9f9
    h4
        margin: 0
        color: $c-1
        font-size: 18px
    p 
        margin: 22px 0 0 0
        color: $c-0
        font-family: $t-0
        font-size: 16px
    a
        color: $c-0
        &.ver-mapa
            display: none !important
        &.btn-enlace-soport
            color: #58595b
            font-size: 13px
            display: inline-block
            position: relative
            padding-right: 20px
            &:before
                content: '\e93e'
                position: absolute
                top: 0
                right: 0
                color: $c-3
                font-size: 11px
                font-family: icomoon
    &:nth-child(even)
        background: none
#map-soporte, #map-soporte-2
    height: 100%
    width: 100%
.tab-item-sopor-prin
    position: relative

@media screen and (min-width: 1025px)
    .tab-sopor
        a:hover
            color: $c-3
            border-bottom: 1px solid $c-3
@media screen and (max-width: 1350px)
    .sopor-info-header
        padding-left: 30px
        padding-right: 30px
        h3
            font-size: 28px
    .tab-sopor
        padding: 0 30px
    .tab-item-sopor
        padding-left: 30px
        padding-right: 30px
@media screen and (max-width: 991px)
    .tab-sopor
        ul
            justify-content: center
        li
            margin-right: 50px
            &:last-child
                margin-right: 0
        a 
            padding-bottom: 10px
    .ctn-tabs
        height: auto
    .sopor-info-header
        padding-top: 50px
        text-align: center
    .tab-item-sopor
        padding-top: 30px
        padding-bottom: 30px
        p 
            margin-top: 12px
            font-size: 13px
            &:last-child
                display: flex
                justify-content: space-between
        h4
            font-size: 15px
        a
            margin: 0
            &.btn-enlace-soport
                display: inline-block !important
                text-transform: uppercase
    .sopor-map
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        transition: all .5s linear
        transform: translateY(-300%)
        z-index: 1005
        &.active
            transform: translateY(0)
        .btn-enlace
            display: block
            position: absolute
            top: 20px
            right: 20px
            max-width: 300px
            z-index: 99
            &:hover
                color: $blanco
@media screen and (max-width: 480px)
    .sopor-info-header
        padding-right: 15px
        padding-left: 15px
        h3
            font-size: 25px
            line-height: 25px
    .tab-sopor
        padding: 0 15px
        margin-top: 30px
    .tab-item-sopor
        padding: 20px 15px
    