
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="nav-bar-fixed">
    <div class="nav-bar-ctn"><a class="navbar-brand"><img class="img-fluid" src="assets/img/logo.png" width="120" height="61" alt="Best Security"/></a>
      <div class="row ctn-nav-bar">
        <div class="collapseavbar n-collapse col-7" id="navbarColor01">
          <ul class="navbar-nav">
            <li class="nav-item productos"><a class="nav-link" href="productos.html">Productos</a>
              <div class="mega-menu">
                <div class="container">
                  <div class="ctn-items-menu"><a class="item-mega-menu" href="#">
                      <h3>Cctv</h3><img class="img-fluid" src="assets/img/img-menu.jpg" width="175" height="124" alt="Best Security"/></a><a class="item-mega-menu" href="#">
                      <h3>Cctv</h3><img class="img-fluid" src="assets/img/img-menu.jpg" width="175" height="124" alt="Best Security"/></a><a class="item-mega-menu" href="#">
                      <h3>Cctv</h3><img class="img-fluid" src="assets/img/img-menu.jpg" width="175" height="124" alt="Best Security"/></a><a class="item-mega-menu" href="#">
                      <h3>Cctv</h3><img class="img-fluid" src="assets/img/img-menu.jpg" width="175" height="124" alt="Best Security"/></a><a class="item-mega-menu" href="#">
                      <h3>Cctv</h3><img class="img-fluid" src="assets/img/img-menu.jpg" width="175" height="124" alt="Best Security"/></a><a class="item-mega-menu" href="#">
                      <h3>Cctv</h3><img class="img-fluid" src="assets/img/img-menu.jpg" width="175" height="124" alt="Best Security"/></a><a class="item-mega-menu" href="#">
                      <h3>Cctv</h3><img class="img-fluid" src="assets/img/img-menu.jpg" width="175" height="124" alt="Best Security"/></a><a class="item-mega-menu" href="#">
                      <h3>Cctv</h3><img class="img-fluid" src="assets/img/img-menu.jpg" width="175" height="124" alt="Best Security"/></a><a class="item-mega-menu" href="#">
                      <h3>Cctv</h3><img class="img-fluid" src="assets/img/img-menu.jpg" width="175" height="124" alt="Best Security"/></a>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="promociones.html">Promociones</a></li>
            <li class="nav-item"><a class="nav-link" href="capacitaciones.html">Capacitaciones</a></li>
            <li class="nav-item"><a class="nav-link" href="soporte.html">Soporte</a></li>
            <li class="nav-item"><a class="nav-link" href="distribuidores.html">Distribuidores</a></li>
          </ul>
        </div>
        <div class="navbar-search-tel col-5">
          <div class="row">
            <div class="nav-bar-search col-9">
              <form>
                <p>
                  <input type="text" name="agreement" placeholder="ENCUENTRA TU PRODUCTO IDEAL"/>
                </p>
              </form>
            </div>
            <div class="nav-bar-phone col-3"><a href="tel:5123100">512-3000</a></div>
          </div>
        </div>
      </div>
      <button class="navbar-toggler icon-menu" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"></button>
    </div>
  </div>
</nav>
<div class="nav-responsive"><span class="icon-close"></span>
  <div class="ctn-menu-responsive"><a class="logo-responsive"><img class="img-fluid" src="assets/img/logo.png" width="158" height="33" alt="Exact"/></a>
    <div class="menu-responsive"></div>
  </div>
</div>
<div class="bg-nav"></div>