.banner__interna
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	height: 250px
.banner__interna__contenido
	display: flex
	align-items: center
	width: 54.625%
	position: relative
	&:before
		content: ""
		width: 100%
		height: 100%
		background: #282c33 //color cambiado por diseño banner interna
		position: absolute
		top: 0
		left: 0
.banner__interna__img
	width: 45.375%
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
.banner__interna__title
	max-width: 630px
	width: 100%
	line-height: 1.2
	color: $blanco
	font-family: $t-0
	font-size: 20px
	position: relative
	z-index: 2
	box-sizing: border-box
	padding-right: 50px
	margin-left: auto 
	margin-right: 0
	margin-bottom: 0
	strong
		display: block
		font-family: $t-1
		font-weight: normal
		font-size: 36px

// responsive
@media screen and (min-width: 960px) and (max-width: 1200px)
	.banner__interna__title
		max-width: none
		padding-left: 50px

@media screen and (min-width: 768px) and (max-width: 959px)
	.banner__interna
		height: 200px
	.banner__interna__contenido
		width: 58%
	.banner__interna__img
		width: 42%

@media screen and (min-width: 1px) and (max-width: 959px)
	.banner__interna__title
		max-width: none
		font-size: 17px
		padding-left: 25px
		padding-right: 25px
		strong
			font-size: 30px

@media screen and (min-width: 1px) and (max-width: 767px)
	.banner__interna
		flex-direction: column
		height: 200px
		position: relative
	.banner__interna__contenido
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		&:before
			opacity: .8
	.banner__interna__img
		width: 100%
		height: 100%
	.banner__interna__title
		text-align: center